.row
  .small-12.columns
.row
  .small-12.columns
    .row
      .small-5.columns
        .slideshow-trigger
          = image_tag("31/cf-31ataax2m.jpg")
          %p.thumbnail_triggers
            %a{"data-orbit-link" => "headline-1", "data-reveal-id" => "imageGallery", href: "#"}
              = image_tag("31/31_HeadOn.jpg")
            %a{"data-orbit-link" => "headline-2", "data-reveal-id" => "imageGallery", href: "#"}
              = image_tag("31/31_Clamshell.jpg")
            %a{"data-orbit-link" => "headline-3", "data-reveal-id" => "imageGallery", href: "#"}
              = image_tag("31/31_Right.jpg")
            %a{"data-orbit-link" => "headline-4", "data-reveal-id" => "imageGallery", href: "#"}
              = image_tag("31/31_Dramatic_Right.jpg")
          %p
            %a{"data-reveal-id" => "imageGallery", href: "#"}
              VIEW GALLERY
              = image_tag("31/specs/arrow-blue.gif")
      .small-7.columns
        .product-info
          %h2 Toughbook 31
          %p.prod_info Fully-rugged MIL-STD-810G and IP65 certified. 13.1" 1200 nit LCD. Mobile broadband ready. Optional 3G Gobi™ or 4G LTE mobile broadband
          %p.left
            %a{href: "http://www.panasonic.com/business-solutions/buy-toughbook-computers-laptops-tablets.asp"}
              = image_tag("31/btn-how-to-buy.gif")
          %p.right.intel
            %a{href: "http://www.intel.com/content/www/us/en/processors/core/2nd-gen-core-overview-video.html"}
              = image_tag("31/intel_i5.gif")
.row
  .small-12.columns
    .section-container.auto{"data-section" => ""}
      %section.active
        %p.title{"data-section-title" => ""}
          %a{href: "#panel1"} Overview
        .content{"data-section-content" => "", "data-slug" => "panel1"}
          %h3 OVERVIEW
          %p.tagline
            %u Powerful, Rugged and Wireless
          %p
            Panasonic presents the Toughbook 31, the reliable laptop offering the highest performance in its class along with the world's most rugged design. With drop shock protection and a MIL-STD-810G and IP65 certification
            %sup> 1
            , it's the undisputed leader in the fully-rugged category. Its Intel® Core™ i5 vPro™ and i3 processors* along with available discrete graphics, pack a punch, to deliver desktop-class performance and improved video/3D graphics. The Toughbook 31 offers a 13.1" brilliant 1200 nit touchscreen available with Panasonic CircuLumin™ technology, integrated webcam and up to 13 hours of battery life. Six generations of delivering rugged performance plus twelve years of consistent docking compatibility, and you have a computer that will go the distance with you anytime, anywhere.
          %p.footnote * model CF-31S
          %p.footnote
            %sup 1
            Tested by national independent third party lab following MIL-STD-810G Method 516.6 Procedure IV for transit drop test and IEC 60529 Sections 13.4, 13.6.2, 14.2.5 and 14.3 for IP65
          %p
            %a{href: "http://panasonic.net/avc/pc/spc/"}
              = image_tag("31/overview/microsoft-windows-8-certified.gif")
          %p.footnote
            %i Intel, the Intel logo, Intel Core, Intel vPro, Core Inside and vPro Inside are trademarks of Intel Corporation in the U.S. and/or other countries
      %section
        %p.title{"data-section-title" => ""}
          %a{href: "#panel2"} Specs
        .content{"data-section-content" => "", "data-slug" => "panel2"}
          %h3 SPECS
          %p
            %a{href: "/assets/31/specs/TB-31_ss.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Toughbook 31 Spec Sheet
          %p
            See which Toughbook model is right for you. View the
            %a{href: "/assets/31/specs/Toughbook_Product_Comparison_Chart.pdf"}
              product comparison chart
              = image_tag("31/specs/arrow-blue.gif")
          %h3 CERTIFICATIONS
          %p
            %b MIL-STD Certifications: MIL-STD-810G
          = image_tag("31/specs/certification-mil-std-810g.gif", style: "float: left; padding-right: 10px;")
          %p
            Fully-rugged Panasonic computers are the first computers to be MIL-STD-810G certified for a range of extreme conditions including 72" drops
            %sup> 1
            , shocks, vibration, humidity, altitude, rain-, dust- and sand-resistance, temperature extremes and thermal shock. Each of the twenty MIL-STD-810G tests conducted have been certified by independent lab testing. MIL-STD-810G, which was created in October 2008, supersedes MIL-STD-810F.
          %p
            %b
              %a{href: "/assets/31/specs/CF-31_MIL-STD-810G.pdf"}
                DOWNLOAD MIL-STD-810G REPORT
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b MIL-STD-461F
          %p Fully-rugged Toughbook models are also tested to the MIL-STD-461F standard methodology for electromagnetic interference (EMI) and electromagnetic compatibility (EMC) in Panasonic's R&D facility in Japan and certified by a third party. The certification ensures that Panasonic Toughbook mobile computers are electromagnetically compatible with other nearby electronic equipment. Panasonic Toughbook mobile computers do not generate unwanted electromagnetic energy that could interfere with the operation of other equipment, nor are susceptible to the effects of unwanted electromagnetic energy from equipment in the same vicinity.
          %p Panasonic has various certifications that meet federal requirements for rugged computers. Below is the MIL-STD-461F certification.
          %p
            %b
              %a{href: "/assets/31/specs/CF-31_MIL-STD-461F.pdf"}
                DOWNLOAD MIL-STD-810G REPORT
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b Ingress Protection (IP65)
          = image_tag("31/specs/certification-ip65.gif", style: "float: left; padding-right: 10px;")
          %p Fully-rugged Toughbook® mobile computers are IP65 certified1 according to the IP code defined in the international standard IEC 60529.
          %p The products are tested and certified by an independent test lab facility located in the United States. Rather than vaguely describing equipment as "waterproof" or "dustproof", the IP Code uniformly quantifies various levels of resistance to liquids, particulates and solid objects. The numbers following the letters "IP" represent the specific degree of protection provided by electrical enclosures. The first digit (6) indicates the ingress of dust at a level that will not have a harmful effect on the operation of the unit. The second digit (5) indicates that water sprayed from all directions will not compromise the computer's functioning. Higher numbers indicate a higher tolerance to dust and water. For example, a unit with an IP65 rating will withstand both elements better than a unit with an IP54 rating. While IP65-certified Toughbook computers are not completely impervious to the ingress of water or dust, the rating does indicate neither element will cause operational complications while used under conditions commonly encountered by Toughbook mobile computers.
          %p
            %b
              %a{href: "/assets/31/specs/Panasonic_IP65_Test_Report_June_2009.pdf"}
                DOWNLOAD IP65 REPORT
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b Underwriters Laboratories (UL 1604)
          = image_tag("31/specs/certification-underwriters-lab.gif", style: "float: left; padding-right: 10px;")
          %p Underwriters Laboratories (UL) tests products for public safety and has developed more than 1,000 "Standards for Safety".
          %p UL 1604 certification allows products to be used in potentially explosive environments found in oil and gas, petrochemical, aviation and other industries. Select fully-rugged Toughbook® mobile computers can be configured to provide safe, reliable solutions for spark-free use. UL 1604-approved models are available for use in Class I, Division 2, Groups A, B, C and D environments. These are defined as places where flammable gases, vapors and liquids are present during abnormal or accident conditions.
          %p
            %b
              %a{href: "http://www.ul.com/global/eng/pages/"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b ENERGY STAR Qualification
          = image_tag("31/specs/certification-energy-star.gif", style: "float: left; padding-right: 10px;")
          %p ENERGY STAR, a joint program between the U.S. Environmental Protection Agency and U.S. Department of Energy, offers voluntary qualification for products that are energy efficient. The ENERGY STAR program sets high standards designed to save energy, save money and help protect the environment for future generations. Panasonic is one of nearly 20,000 organizations that have become ENERGY STAR partners, all working to promote, sell, or improve products, homes, and buildings that use less energy and qualify for the ENERGY STAR. Panasonic's commitment to ENERGY STAR initiatives and other environmental programs have resulted in all Toughbook® computers earning the ENERGY STAR.
          %p ENERGY STAR for computers raises the efficiency bar dramatically. ENERGY STAR establishes efficiency requirements for all modes of a product's operation, which ensures energy savings when a product is active and running basic applications, as well as in low power modes. Qualifying products must also include an internal power supply that is at least 80 percent efficient. Only the most energy-efficient products, including all Toughbook computers have qualified for the new specification. If all computers sold in the US meet ENERGY STAR requirements, the savings in energy costs will grow to more than $1.5 billion each year, reducing greenhouse gas emissions equivalent to those from 2 million vehicles.
          %p
            %b
              %a{href: "http://www.energystar.gov/index.cfm"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b EPEAT Certification
          = image_tag("31/specs/certification-epeat-gold.gif", style: "float: left; padding-right: 10px;")
          %p EPEAT is an easy-to-use, online tool to help purchasers in the public and private sectors evaluate, compare and select products based on their environmental attributes. EPEAT also provides a clear and consistent set of performance criteria for the design of products, and provides an opportunity for manufacturers to secure market recognition for their efforts to reduce the environmental impact of its products.
          %p EPEAT evaluates electronic products according to three tiers of environmental performance — Bronze, Silver and Gold. There are 51 total environmental criteria: 23 required criteria and 28 optional criteria. A Bronze-rated product meets all 23 required criteria. A Silver-rated product meets all 23 required criteria plus at least 50% of the optional criteria. A Gold-rated product meets all 23 required criteria and at least 75% of the optional criteria. All Toughbook computer models are either gold- or silver-rated, ensuring the highest level of environmental performance.
          %p
            %b
              %a{href: "http://www.epeat.net/blog/"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b ISO Certification
          = image_tag("31/specs/certification-iso.gif", style: "float: left; padding-right: 10px;")
          %p Since 1996, all Panasonic manufacturing plants worldwide—including the factory in Kobe, Japan—have achieved ISO 14001 registration and implemented the ISO 14001 Environmental Management System. The Kobe factory has also been certified for ISO 9001, an international standard for quality management systems that enhance product quality assurance and customer satisfaction.
          %p International Organization for Standardization (ISO) is an international federation promoting the development of international manufacturing, trade, and communication standards. ISO 14000, a series of standards, provides the framework for managing the environmental impacts of an organization.
          %p The ISO 14001 international standard established a systematic approach that organizations can use to minimize or prevent environmental impacts and risks. This approach, known as an Environmental Management System or EMS, requires the organization to establish an environmental control policy, educate employees about procedures and continually monitor environmental performance.
          %p
            %b
              %a{href: "http://www.iso.org/iso/home.html"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b RoHS Compliance
          = image_tag("31/specs/certification-rohs.gif", style: "float: left; padding-right: 10px;")
          %p For manufacturers of electronic equipment, the main impact of RoHS is that only lead-free products can be sold in Europe. Panasonic has therefore shifted to lead-free solder. By selling RoHS-compliant products in all countries, not just Europe, Panasonic helps eliminate hazardous electronic waste materials from landfills and waste dumps around the world.
          %p
            %b
              %a{href: "http://www.informinc.org/improhs.pdf"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b Section 508 Standards
          = image_tag("31/specs/certification-section-508.gif", style: "float: left; padding-right: 10px;")
          %p Section 508 was enacted to eliminate barriers in information technology, to make available new opportunities for people with disabilities, and to encourage development of technologies that will help achieve these goals. Electronic and information technology procured by Federal agencies must meet Section 508's requirements for accessibility.
          %p IToughbook® mobile computers have long been designed and manufactured with access-friendly features, such as touchscreens and the ability to be mounted on wheelchairs. In addition, Panasonic works closely with Microsoft to ensure that Toughbook computers can take full advantage of the accessibility features built into Windows®. Panasonic continually endeavors to make all its products more accessible to, and usable by, individuals with disabilities. In fact, Panasonic worked with ITIC (Information Technology Industry Council) in developing the Section 508 "Buy Accessible" template, and also actively participates in the GSA (General Services Administration) sponsored Accessibility Forum.
          %p
            %b
              %a{href: "Panasonic_508_Statement.pdf"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b Verizon Wireless
          = image_tag("31/specs/certification-verizon.gif", style: "float: left; padding-right: 10px;")
          %p Verizon Wireless delivers high-speed wireless access in 259 major metro areas, covering more than 280 million people. Panasonic Toughbook computers connect to the Verizon Wireless network without the need of a PC card or Wi-Fi hotspot.
          %p
            %b
              %a{href: "http://www.panasonic.com/business-solutions/wireless-carrier-partners-verizon.asp"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b AT&T
          = image_tag("31/specs/certification-att.gif", style: "float: left; padding-right: 10px;")
          %p A United States wireless leader, AT&T has more than 72.9 million subscribers and offers the best coverage of any carrier worldwide. Panasonic Toughbook mobile computers are designed with embedded wireless technology allowing instant access to AT&T's extensive high-speed network without the need for an external card, additional antenna or other accessories.
          %p
            %b
              %a{href: "http://www.panasonic.com/business-solutions/wireless-carrier-partners-at&t.asp"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b Sprint
          = image_tag("31/specs/certification-sprint.gif", style: "float: left; padding-right: 10px;")
          %p Sprint offers a comprehensive range of wireless connectivity services reaching over 249 million individuals, businesses and government users. Select Toughbook mobile computer models connect seamlessly with Sprint's extensive network, delivering high-speed wireless access in over 18,477 cities and 1,818 airports.
          %p
            %b
              %a{href: "http://www.panasonic.com/business-solutions/wireless-carrier-partners-sprint.asp"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
          %p.footnote
            %sup 1
            Tested by national independent third party lab following MIL-STD-810G Method 516.6 Procedure IV for transit drop test and IEC 60529 Sections 13.4, 13.6.2, 14.2.5 and 14.3 for IP65.
      %section
        %p.title{"data-section-title" => ""}
          %a{href: "#panel3"} Accessories
        .content{"data-section-content" => "", "data-slug" => "panel3"}
          %h3 ACCESSORIES
          %table
            %tr
              %th
              %th model
              %th description
              %th certified
            %tr
              %td
                = image_tag("31/accessories/7160-0318-00.jpg")
              %td
                %b 7160-0318-00
              %td
                %p
                  Gamber-Johnson Vehicle Dock (no pass-through)
                  USB (5), VGA, RJ-45 (2), serial (2), microphone, headphone, AC jack, cable lock slot, slide release with key lock
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("31/accessories/7160-0318-01.jpg")
              %td
                %b 7160-0318-01
              %td
                %p
                  Gamber-Johnson Vehicle Dock (no pass-through)
                  USB (5), VGA, RJ-45 (2), serial (2), microphone, headphone, AC jack, cable lock slot, slide release with key lock, single antenna
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("31/accessories/7160-0318-02.jpg")
              %td
                %b 7160-0318-02
              %td
                %p
                  Gamber-Johnson Vehicle Dock (no pass-through)
                  USB (5), VGA, RJ-45 (2), serial (2), microphone, headphone, AC jack, cable lock slot, slide release with key lock, dual antenna
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("31/accessories/cf-aa5713am.jpg")
              %td
                %b CF-AA5713AM
              %td
                %p
                  Panasonic AC Adapter (3-prong)
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("31/accessories/cf-lndbrk120.jpg")
              %td
                %b CF-LNDBRK120
              %td
                %p
                  LIND Car Adapter 120W Mounting Bracket
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td
                = image_tag("31/accessories/certified-checkmark.gif")
            %tr
              %td
                = image_tag("31/accessories/cf-lnddc120.jpg")
              %td
                %b CF-LNDDC120
              %td
                %p
                  LIND Car Adapter 120W
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td
                = image_tag("31/accessories/certified-checkmark.gif")
            %tr
              %td
                = image_tag("31/accessories/cf-lndlpt.jpg")
              %td
                %b CF-LNDLPT
              %td
                %p
                  LIND low-profile shut-down timer
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("31/accessories/tbc31case-p.jpg")
              %td
                %b CF-TBC31CASE-P
              %td
                %p
                  InfoCase Sling 31 Case
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("31/accessories/cf-vcbtb1w.jpg")
              %td
                %b CF-VCBTB2W
              %td
                %p
                  Panasonic Battery Charger
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("31/accessories/cf-vdm311u.jpg")
              %td
                %b CF-VDM311U
              %td
                %p
                  Panasonic DVD Super MULTI Drive
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("31/accessories/cf-veb311u.jpg")
              %td
                %b CF-VEB311U
              %td
                %p
                  Panasonic Desktop Dock
                  %br
                  USB (3), VGA, HDMI, serial (2), RJ-45 (2), microphone, headphone, AC jack, cable lock slot, slide release with key lock
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("31/accessories/cf-vnp009u.jpg")
              %td
                %b CF-VNP009U
              %td
                %p
                  Panasonic Touchscreen Replacement Stylus with Tether Hole
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("31/accessories/cf-vnt002u.jpg")
              %td
                %b CF-VNT002U
              %td
                %p
                  Panasonic Tether
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("31/accessories/cf-vpf15u.jpg")
              %td
                %b CF-VPF15U
              %td
                %p
                  Panasonic 13.1" LCD Protector Film
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("31/accessories/cf-vzsu1431u.jpg")
              %td
                %b CF-VZSU1431U
              %td
                %p
                  Panasonic Media Bay 2nd Battery
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("31/accessories/cf-vzsu46au.jpg")
              %td
                %b CF-VZSU46AU
              %td
                %p
                  Panasonic Long Life Lithium Ion Battery Pack
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("31/accessories/cf-vzsu65au.jpg")
              %td
                %b CF-VZSU65AU
              %td
                %p
                  Panasonic Lightweight Lithium Ion Battery Pack
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("31/accessories/image_not_available.jpg")
              %td
                %b CF-WMBA1002G
              %td
                %p
                  Panasonic 2GB DDR3 Memory Card
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("31/accessories/image_not_available.jpg")
              %td
                %b CF-WMBA1004G
              %td
                %p
                  Panasonic 4GB DDR3 Memory Card
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("31/accessories/ds-pan-111-1-p.jpg")
              %td
                %b 7160-0318-00
              %td
                %p
                  Havis Vehicle Dock (single pass-through)
                  USB (5), VGA, RJ-45 (2), serial (2), microphone, headphone, AC jack, cable lock slot, slide release with key lock, single antenna
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td
                = image_tag("31/accessories/certified-checkmark.gif")
            %tr
              %td
                = image_tag("31/accessories/ds-pan-111-2-p.jpg")
              %td
                %b DS-PAN-111-2-P
              %td
                %p
                  Havis Vehicle Dock (dual pass-through)
                  USB (5), VGA, RJ-45 (2), serial (2), microphone, headphone, AC jack, cable lock slot, slide release with key lock, dual antenna
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td
                = image_tag("31/accessories/certified-checkmark.gif")
            %tr
              %td
                = image_tag("31/accessories/ds-pan-111-p.jpg")
              %td
                %b >DS-PAN-111-P
              %td
                %p
                  Havis Vehicle Dock (no pass-through)
                  USB (5), VGA, RJ-45 (2), serial (2), microphone, headphone, AC jack, cable lock slot, slide release with key lock
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td
                = image_tag("31/accessories/certified-checkmark.gif")
                ;
            %tr
              %td
                = image_tag("31/accessories/pach329-1857-p.jpg")
              %td
                %b PACH329-1857-P
              %td
                %p
                  LIND 3-Bay Battery Charger
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td
                = image_tag("31/accessories/certified-checkmark.gif")
            %tr
              %td
                = image_tag("31/accessories/tbcbpk-p.jpg")
              %td
                %b TBCBPK-P
              %td
                %p
                  InfoCase Backpack
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("31/accessories/tbccomunv-p.jpg")
              %td
                %b TBCCOMUNV-P
              %td
                %p
                  InfoCase ComUniversal Carrying Case
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
      %section
        %p.title{"data-section-title" => ""}
          %a{href: "#panel4"} News & Reviews
        .content{"data-section-content" => "", "data-slug" => "panel4"}
          %h3 NEWS & REVIEWS
          = image_tag("31/news_reviews/article-integ-sols.gif", style: "float: left; padding-right: 10px;")
          %p
            %b Integrated Solutions: "Navigate Mobile Technology Investments For A Competitive Edge"
          %p According to a recent IDC Worldwide Mobile Worker Population Forecast, nearly 75% of the U.S. workforce will perform at least part of their jobs outside the traditional office space by the end of 2011. Rance M. Poehler, president of Panasonic Solutions Company, outlines the necessary factors to consider when selecting the best mobile computing solution to meet the needs of a growing mobile workforce, while also minimizing hidden costs.
          %p
            %b
              %a{href: "http://www.fieldtechnologiesonline.com/article.mvc/Navigate-Mobile-Technology-Investments-For-A-0002"}
                LEARN MORE
                = image_tag("31/specs/arrow-blue.gif")
          = image_tag("31/news_reviews/review-laptop-choice.gif", style: "float: left; padding-right: 10px;")
          %p
            %b Laptop Magazine Reviews the new Toughbook 31
          %p "It's the notebook equivalent of a tank—with a force field around it. The Panasonic Toughbook CF-31 is able to withstand 70-mph winds and nearly 6 inches of blowing rain per hour. Or you can drop it from 6 feet 26 times."
          %p
            %b
              %a{href: "http://www.laptopmag.com/review/laptops/panasonic-toughbook-cf-31.aspx"}
                LEARN MORE
                = image_tag("31/specs/arrow-blue.gif")
          = image_tag("31/news_reviews/review-award-military-embedded-editors-choice.gif", style: "float: left; padding-right: 10px;")
          %p
            %b Editor's Choice: Military Embedded Systems October 2010
          %p Serving as a premier resource for developers and integrators of embedded military systems, including military, defense and aerospace engineers—Military Embedded Systems made a point to highlight a choice mission critical solution in their October 2010 issue.
          %p
            %b
              %a{href: "http://mil-embedded.com/editors-choice/mission-critical-the-inside-too/"}
                LEARN MORE
                = image_tag("31/specs/arrow-blue.gif")
          = image_tag("31/news_reviews/review-award-gcn-product-oty.gif", style: "float: left; padding-right: 10px;")
          %p
            %b GCN Reviewer's Choice Award: Toughbook 31 Combines Powerhouse Performance with Long Battery Life - October 2010
          %p GCN has named the Toughbook 31 as a Reviewer's Choice in their annual rugged device roundup. Technology review editor John Breeden gave the Toughbook 31 an A+ for both Rugged Levels and Performance, and the lowest grade in any category was an A-.
          %p
            %b
              %a{href: "http://gcn.com/articles/2010/10/04/review-panasonic-toughbook-31.aspx"}
                LEARN MORE
                = image_tag("31/specs/arrow-blue.gif")
      %section
        %p.title{"data-section-title" => ""}
          %a{href: "#panel5"} Resources
        .content{"data-section-content" => "", "data-slug" => "panel5"}
          %h3 SPECS
          %p
            %a{href: "/assets/31/resources/Toughbook-31.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Operating Instructions
            %br
            %a{href: "/assets/31/resources/TB31_Bifold_Brochure_HR.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Brochure
            %br
            %a{href: "/assets/31/resources/TB-31_ss.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Spec Sheet
            %br
            %a{href: "/assets/31/resources/Toughbook_Product_Comparison_Chart.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Product Comparison Chart
            %br
            %a{href: "/assets/31/resources/Toughbook_Disinfectant_and_Sanitization.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Cleaning and Sanitizing Guide
      %section
        %p.title{"data-section-title" => ""}
          %a{href: "#panel6"} Features
        .content{"data-section-content" => "", "data-slug" => "panel6"}
          %h3 FEATURES
          .section-container.vertical-tabs{"data-section" => "vertical-tabs"}
            %section.active
              %p.title{"data-section-title" => ""}
                %a{href: "#"} Innovative Design
              .content{"data-section-content" => ""}
                %h3 Innovative Design
                %p The engineers behind Toughbook are constantly researching ways to make the business-rugged series tougher, lighter and easier to use. New features like A a compact shell drive, an easy-to-use circular scrolling touchpad, up to 30 inch drop-resistant design and available with built-in Gobi™ mobile broadband make this line of Toughbook business-rugged mobile computers the ultimate innovation for mobile professionals.
            %section
              %p.title{"data-section-title" => ""}
                %a{href: "#"} Lightweight Rugged Design
              .content{"data-section-content" => ""}
                %p Content of section 2.
            %section
              %p.title{"data-section-title" => ""}
                %a{href: "#"} Drop Test
              .content{"data-section-content" => ""}
                %p Content of section 3.
            %section
              %p.title{"data-section-title" => ""}
                %a{href: "#"} Spill Resistant Keyboard
              .content{"data-section-content" => ""}
                %p Content of section 4.
            %section
              %p.title{"data-section-title" => ""}
                %a{href: "#"} Compact Shell DVD Drive
              .content{"data-section-content" => ""}
                %p Content of section 5.
            %section
              %p.title{"data-section-title" => ""}
                %a{href: "#"}
                  Easy-to-use Circular
                  %br>/
                  Scrolling Touchpad
              .content{"data-section-content" => ""}
                %p Content of section 6.
            %section
              %p.title{"data-section-title" => ""}
                %a{href: "#"} Gobi™ Mobile Broadband
              .content{"data-section-content" => ""}
                %p Content of section 7.
#imageGallery.reveal-modal
  .slideshow-wrapper
    %ul{"class-" => "", "data-orbit" => ""}
      %li{"data-orbit-slide" => "headline-1"}
        %a{href: "#"}
          = image_tag("31/image_gallery/standard/31_HeadOn.jpg")
        .orbit-caption
          %a{href: "31_HeadOn.jpg"} high res image
          [jpg, 3.5mb]
      %li{"data-orbit-slide" => "headline-2"}
        %a{href: "#"}
          = image_tag("31/image_gallery/standard/31_Clamshell.jpg")
        .orbit-caption
          %a{href: "31_Clamshell.jpg"} high res image
          [jpg, 5.5mb]
      %li{"data-orbit-slide" => "headline-3"}
        %a{href: "#"}
          = image_tag("31/image_gallery/standard/31_Right.jpg")
        .orbit-caption
          %a{href: "31_Right.jpg"} high res image
          [jpg, 3.1mb]
      %li{"data-orbit-slide" => "headline-4"}
        %a{href: "#"}
          = image_tag("31/image_gallery/standard/31_Dramatic_Right.jpg")
        .orbit-caption
          %a{href: "31_Dramatic_Right.jpg"} high res image
          [jpg, 4.7mb]
      %li{"data-orbit-slide" => "headline-5"}
        %a{href: "#"}
          = image_tag("31/image_gallery/standard/31_Left.jpg")
        .orbit-caption
          %a{href: "31_Left.jpg"} high res image
          [jpg, 3.1mb]
      %li{"data-orbit-slide" => "headline-6"}
        %a{href: "#"}
          = image_tag("31/image_gallery/standard/31_Dramatic_Left.jpg")
        .orbit-caption
          %a{href: "31_Dramatic_Left.jpg"} high res image
          [jpg, 4.8mb]
      %li{"data-orbit-slide" => "headline-7"}
        %a{href: "#"}
          = image_tag("31/image_gallery/standard/31_Closed.jpg")
        .orbit-caption
          %a{href: "31_Closed.jpg"} high res image
          [jpg, 5.9mb]
      %li{"data-orbit-slide" => "headline-8"}
        %a{href: "#"}
          = image_tag("31/image_gallery/standard/31_Closed_Handle_Down.jpg")
        .orbit-caption
          %a{href: "31_Closed_Handle_Down.jpg"} high res image
          [jpg, 5.1mb]
      %li{"data-orbit-slide" => "headline-9"}
        %a{href: "#"}
          = image_tag("31/image_gallery/standard/31_Closed_Head_On.jpg")
        .orbit-caption
          %a{href: "31_Closed_Head_On.jpg"} high res image
          [jpg, 4.5mb]
      %li{"data-orbit-slide" => "headline-10"}
        %a{href: "#"}
          = image_tag("31/image_gallery/standard/31_Closed_Right_Ports.jpg")
        .orbit-caption
          %a{href: "31_Closed_Right_Ports.jpg"} high res image
          [jpg, 2.8mb]
      %li{"data-orbit-slide" => "headline-11"}
        %a{href: "#"}
          = image_tag("31/image_gallery/standard/31_Closed_Right_Ports_Battery.jpg")
        .orbit-caption
          %a{href: "31_Closed_Right_Ports_Battery.jpg"} high res image
          [jpg, 2.9mb]
      %li{"data-orbit-slide" => "headline-12"}
        %a{href: "#"}
          = image_tag("31/image_gallery/standard/31_Closed_Back_Ports.jpg")
        .orbit-caption
          %a{href: "31_Closed_Back_Ports.jpg"} high res image
          [jpg, 3.3mb]
      %li{"data-orbit-slide" => "headline-13"}
        %a{href: "#"}
          = image_tag("31/image_gallery/standard/31_ClsUp_Stylus.jpg")
        .orbit-caption
          %a{href: "31_ClsUp_Stylus.jpg"} high res image
          [jpg, 8mb]
      %li{"data-orbit-slide" => "headline-14"}
        %a{href: "#"}
          = image_tag("31/image_gallery/standard/31_Bottom.jpg")
        .orbit-caption
          %a{href: "31_Bottom.jpg"} high res image
          [jpg, 5.3mb]
      %li{"data-orbit-slide" => "headline-15"}
        %a{href: "#"}
          = image_tag("31/image_gallery/standard/31_Battery.jpg")
        .orbit-caption
          %a{href: "31_Battery.jpg"} high res image
          [jpg, 2.8mb]
  .slideshow_arrows
    .arrow_left
      %a{href: "#"}
        = image_tag("31/image_gallery/carousel-arrow-left-over.gif")
    .arrow_right
      %a{href: "#"}
        = image_tag("31/image_gallery/carousel-arrow-right-over.gif")
  .slideshow_nav_container
    %ul.slideshow_nav
      %li{"data-orbit-link" => "headline-1"}
        %a{href: "#"}
          = image_tag("31/image_gallery/thumbs/31_HeadOn.jpg")
      %li{"data-orbit-link" => "headline-2"}
        %a{href: "#"}
          = image_tag("31/image_gallery/thumbs/31_Clamshell.jpg")
      %li{"data-orbit-link" => "headline-3"}
        %a{href: "#"}
          = image_tag("31/image_gallery/thumbs/31_Right.jpg")
      %li{"data-orbit-link" => "headline-4"}
        %a{href: "#"}
          = image_tag("31/image_gallery/thumbs/31_Dramatic_Right.jpg")
      %li{"data-orbit-link" => "headline-5"}
        %a{href: "#"}
          = image_tag("31/image_gallery/thumbs/31_Left.jpg")
      %li{"data-orbit-link" => "headline-6"}
        %a{href: "#"}
          = image_tag("31/image_gallery/thumbs/31_Dramatic_Left.jpg")
      %li{"data-orbit-link" => "headline-7"}
        %a{href: "#"}
          = image_tag("31/image_gallery/thumbs/31_Closed.jpg")
      %li{"data-orbit-link" => "headline-8"}
        %a{href: "#"}
          = image_tag("31/image_gallery/thumbs/31_Closed_Handle_Down.jpg")
      %li{"data-orbit-link" => "headline-9"}
        %a{href: "#"}
          = image_tag("31/image_gallery/thumbs/31_Closed_Head_On.jpg")
      %li{"data-orbit-link" => "headline-10"}
        %a{href: "#"}
          = image_tag("31/image_gallery/thumbs/31_Closed_Right_Ports.jpg")
      %li{"data-orbit-link" => "headline-11"}
        %a{href: "#"}
          = image_tag("31/image_gallery/thumbs/31_Closed_Right_Ports_Battery.jpg")
      %li{"data-orbit-link" => "headline-12"}
        %a{href: "#"}
          = image_tag("31/image_gallery/thumbs/31_Closed_Back_Ports.jpg")
      %li{"data-orbit-link" => "headline-13"}
        %a{href: "#"}
          = image_tag("31/image_gallery/thumbs/31_ClsUp_Stylus.jpg")
      %li{"data-orbit-link" => "headline-14"}
        %a{href: "#"}
          = image_tag("31/image_gallery/thumbs/31_Bottom.jpg")
      %li{"data-orbit-link" => "headline-15"}
        %a{href: "#"}
          = image_tag("31/image_gallery/thumbs/31_Battery.jpg")
  %a.close-reveal-modal ×

:javascript
  $(document).foundation('topbar');
  $(document).foundation('section', {
    deep_linking: true
  });
  $(document).foundation('reveal', {
    animation: 'fade',
    dismissModalClass: 'close-reveal-modal'
  });
  $(document).foundation('orbit', {
    animation: 'fade',
    slide_number: false,
    timer: false,
    bullets: false,
    ready: function(){
      console.log( initialSlideState );
    },
    after_slide_change: function(slideNum){
        $("ul.slideshow_nav li").removeClass('active');
        navItem = $("ul.slideshow_nav li[data-orbit-link=headline-"+(slideNum+1)+"]");
        navItem.addClass('active');
        
        navContainer = $(".slideshow_nav_container");
        navContWidth = navContainer.width();
        nav = $("ul.slideshow_nav");
        leftSide = parseInt(navItem.offset().left) - parseInt(navContainer.offset().left);
        centered = (((parseInt(leftSide) + (parseInt(navItem.width()) / 2)) - ( parseInt(navContWidth) / 2 )) * -1) + parseInt(nav.css('left'));
        
        if( centered > 0 )
          centered = 0;
        
        rightBound = ((nav.width() - navContWidth) * -1);
        if( centered < rightBound )
          centered = rightBound;

        nav.animate({left: centered}, 250);
      }
  });

  $(".slideshow_arrows .arrow_right").on("click", function(){
    slideNavCar('right');
  });
  $(".slideshow_arrows .arrow_left").on("click", function(){
    slideNavCar('left');
  });

  function slideNavCar(direction){
    nav = $("ul.slideshow_nav");
    navContainer = $(".slideshow_nav_container");
    navContWidth = navContainer.width();

    if( direction == 'right' )
      centered = parseInt(nav.css('left')) - navContWidth;
    else
      centered = parseInt(nav.css('left')) + navContWidth;
    
    if( centered > 0 )
      centered = 0;
    
    rightBound = ((nav.width() - navContWidth) * -1);
    if( centered < rightBound )
      centered = rightBound;

    nav.animate({left: centered}, 250);
  }























