.row
  .small-12.columns
.row
  .small-12.columns
    .row
      .small-5.columns
        .slideshow-trigger
          = image_tag("52/cf-52ajcbdbm.jpg")
          %p.thumbnail_triggers
            %a{"data-orbit-link" => "headline-1", "data-reveal-id" => "imageGallery", href: "#"}
              = image_tag("52/CF-52_Head_On.jpg")
            %a{"data-orbit-link" => "headline-2", "data-reveal-id" => "imageGallery", href: "#"}
              = image_tag("52/CF-52_3Qtr_Left.jpg")
            %a{"data-orbit-link" => "headline-3", "data-reveal-id" => "imageGallery", href: "#"}
              = image_tag("52/CF-52_3QTR_Right.jpg")
            %a{"data-orbit-link" => "headline-4", "data-reveal-id" => "imageGallery", href: "#"}
              = image_tag("52/CF-52_Closed_Left.jpg")
          %p
            %a{"data-reveal-id" => "imageGallery", href: "#"}
              VIEW GALLERY
              = image_tag("31/specs/arrow-blue.gif")
      .small-7.columns
        .product-info
          %h2 Toughbook 52
          %p.prod_info Semi-rugged Desktop Alternative, 15.4" Widescreen, Mobile broadband ready.
          %p.left
            %a{href: "http://www.panasonic.com/business-solutions/buy-toughbook-computers-laptops-tablets.asp"}
              = image_tag("31/btn-how-to-buy.gif")
          %p.right.intel
            %a{href: "http://www.intel.com/content/www/us/en/processors/core/2nd-gen-core-overview-video.html"}
              = image_tag("31/intel_i5.gif")
.row
  .small-12.columns
    .section-container.auto{"data-section" => ""}
      %section.active
        %p.title{"data-section-title" => ""}
          %a{href: "#panel1"} Overview
        .content{"data-section-content" => "", "data-slug" => "panel1"}
          %h3 OVERVIEW
          %p.tagline
            %u The Ultimate in Power and Portability
          %p
            The Panasonic Toughbook® 52 delivers the power of a desktop in a semi-rugged design that provides the flexibility to work anywhere. With a shock-mounted flex-connect hard drive, magnesium alloy casing, and spill-resistant keyboard and touchpad, it stands up to the bumps and bruises of a day on-the-go. The 15.4" high resolution widescreen and dedicated graphics makes the Toughbook 52 perfect for group presentations or videos. Offering increased security and remote management, powered by an 3rd gen Intel Core™ i5 vPro™ processor, the Toughbook 52 is the ultimate business tool.
          %p.footnote
            %i Intel, the Intel logo, Intel Core, Intel vPro, Core Inside and vPro Inside are trademarks of Intel Corporation in the U.S. and/or other countries.
      %section
        %p.title{"data-section-title" => ""}
          %a{href: "#panel2"} Specs
        .content{"data-section-content" => "", "data-slug" => "panel2"}
          %h3 SPECS
          %p
            %a{href: "/assets/52/specs/TB-52_ss.pdf"}
              = image_tag("52/specs/icon-pdf.gif")
              Toughbook 52 Spec Sheet
          %p
            See which Toughbook model is right for you. View the
            %a{href: "/assets/52/specs/Toughbook_Product_Comparison_Chart.pdf"}
              product comparison chart
              = image_tag("31/specs/arrow-blue.gif")
          %h3 CERTIFICATIONS
          %p
            %b ENERGY STAR Qualification
          = image_tag("52/specs/certification-energy-star.gif", style: "float: left; padding-right: 10px;")
          %p ENERGY STAR, a joint program between the U.S. Environmental Protection Agency and U.S. Department of Energy, offers voluntary qualification for products that are energy efficient. The ENERGY STAR program sets high standards designed to save energy, save money and help protect the environment for future generations. Panasonic is one of nearly 20,000 organizations that have become ENERGY STAR partners, all working to promote, sell, or improve products, homes, and buildings that use less energy and qualify for the ENERGY STAR. Panasonic's commitment to ENERGY STAR initiatives and other environmental programs have resulted in all Toughbook® computers earning the ENERGY STAR.
          %p ENERGY STAR for computers raises the efficiency bar dramatically. ENERGY STAR establishes efficiency requirements for all modes of a product's operation, which ensures energy savings when a product is active and running basic applications, as well as in low power modes. Qualifying products must also include an internal power supply that is at least 80 percent efficient. Only the most energy-efficient products, including all Toughbook computers have qualified for the new specification. If all computers sold in the US meet ENERGY STAR requirements, the savings in energy costs will grow to more than $1.5 billion each year, reducing greenhouse gas emissions equivalent to those from 2 million vehicles.
          %p
            %b
              %a{href: "http://www.energystar.gov/index.cfm"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b EPEAT Certification
          = image_tag("52/specs/certification-epeat-gold.gif", style: "float: left; padding-right: 10px;")
          %p EPEAT is an easy-to-use, online tool to help purchasers in the public and private sectors evaluate, compare and select products based on their environmental attributes. EPEAT also provides a clear and consistent set of performance criteria for the design of products, and provides an opportunity for manufacturers to secure market recognition for their efforts to reduce the environmental impact of its products.
          %p EPEAT evaluates electronic products according to three tiers of environmental performance — Bronze, Silver and Gold. There are 51 total environmental criteria: 23 required criteria and 28 optional criteria. A Bronze-rated product meets all 23 required criteria. A Silver-rated product meets all 23 required criteria plus at least 50% of the optional criteria. A Gold-rated product meets all 23 required criteria and at least 75% of the optional criteria. All Toughbook computer models are either gold- or silver-rated, ensuring the highest level of environmental performance.
          %p
            %b
              %a{href: "http://www.epeat.net/blog/"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b ISO Certification
          = image_tag("52/specs/certification-iso.gif", style: "float: left; padding-right: 10px;")
          %p Since 1996, all Panasonic manufacturing plants worldwide—including the factory in Kobe, Japan—have achieved ISO 14001 registration and implemented the ISO 14001 Environmental Management System. The Kobe factory has also been certified for ISO 9001, an international standard for quality management systems that enhance product quality assurance and customer satisfaction.
          %p International Organization for Standardization (ISO) is an international federation promoting the development of international manufacturing, trade, and communication standards. ISO 14000, a series of standards, provides the framework for managing the environmental impacts of an organization.
          %p The ISO 14001 international standard established a systematic approach that organizations can use to minimize or prevent environmental impacts and risks. This approach, known as an Environmental Management System or EMS, requires the organization to establish an environmental control policy, educate employees about procedures and continually monitor environmental performance.
          %p
            %b
              %a{href: "http://www.iso.org/iso/home.html"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b RoHS Compliance
          = image_tag("52/specs/certification-rohs.gif", style: "float: left; padding-right: 10px;")
          %p For manufacturers of electronic equipment, the main impact of RoHS is that only lead-free products can be sold in Europe. Panasonic has therefore shifted to lead-free solder. By selling RoHS-compliant products in all countries, not just Europe, Panasonic helps eliminate hazardous electronic waste materials from landfills and waste dumps around the world.
          %p
            %b
              %a{href: "http://www.informinc.org/improhs.pdf"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b Section 508 Standards
          = image_tag("52/specs/certification-section-508.gif", style: "float: left; padding-right: 10px;")
          %p Section 508 was enacted to eliminate barriers in information technology, to make available new opportunities for people with disabilities, and to encourage development of technologies that will help achieve these goals. Electronic and information technology procured by Federal agencies must meet Section 508's requirements for accessibility.
          %p IToughbook® mobile computers have long been designed and manufactured with access-friendly features, such as touchscreens and the ability to be mounted on wheelchairs. In addition, Panasonic works closely with Microsoft to ensure that Toughbook computers can take full advantage of the accessibility features built into Windows®. Panasonic continually endeavors to make all its products more accessible to, and usable by, individuals with disabilities. In fact, Panasonic worked with ITIC (Information Technology Industry Council) in developing the Section 508 "Buy Accessible" template, and also actively participates in the GSA (General Services Administration) sponsored Accessibility Forum.
          %p
            %b
              %a{href: "Panasonic_508_Statement.pdf"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
      %section
        %p.title{"data-section-title" => ""}
          %a{href: "#panel3"} Accessories
        .content{"data-section-content" => "", "data-slug" => "panel3"}
          %h3 ACCESSORIES
          %table
            %tr
              %th
              %th model
              %th description
              %th certified
            %tr
              %td
                = image_tag("52/accessories/cf-aa5713am.jpg")
              %td
                %b CF-AA5713AM
              %td
                %p
                  Panasonic AC Adapter (3-prong) 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("52/accessories/cf-lndbrk120.jpg")
              %td
                %b CF-LNDBRK120
              %td
                %p
                  LIND Car Adapter 120W Mounting Bracket 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td
                = image_tag("52/accessories/certified-checkmark.gif")
            %tr
              %td
                = image_tag("52/accessories/cf-lnddc120.jpg")
              %td
                %b CF-LNDDC120
              %td
                %p
                  LIND Car Adapter 120W 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td
                = image_tag("52/accessories/certified-checkmark.gif")
            %tr
              %td
                = image_tag("52/accessories/cf-lndlpt.jpg")
              %td
                %b CF-LNDLPT
              %td
                %p
                  LIND low-profile shut-down timer 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("52/accessories/cf-vcbtb1w.jpg")
              %td
                %b CF-VCBTB2W
              %td
                %p
                  Panasonic Battery Charger 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td
            %tr
              %td
                = image_tag("52/accessories/cf-veb522m.jpg")
              %td
                %b CF-VEB522M
              %td
                %p
                  Panasonic Desktop Dock USB (4), VGA, display port, RJ-45, serial, AC jack, power button, cable lock slot, slide release 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td
            %tr
              %td
                = image_tag("52/accessories/cf-vzsu71u.jpg")
              %td
                %b CF-VZSU71U
              %td
                %p
                  Panasonic Long Life Lithium Ion Battery Pack 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("52/accessories/image_not_available.jpg")
              %td
                %b CF-WMBA1004G
              %td
                %p
                  Panasonic 4GB DDR3 Memory Card 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("52/accessories/image_not_available.jpg")
              %td
                %b CF-WMBA902GF
              %td
                %p
                  2GB DDR3 Memory Card 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("52/accessories/pach329-1857-p.jpg")
              %td
                %b PACH329-1857-P
              %td
                %p
                  LIND 3-Bay Battery Charger 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td
                = image_tag("52/accessories/certified-checkmark.gif")
            %tr
              %td
                = image_tag("52/accessories/tbc52aocs-p.jpg")
              %td
                %b TBC52AOCS-P
              %td
                %p
                  InfoCase Always-on 52 Case 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td
                = image_tag("52/accessories/certified-checkmark.gif")
            %tr
              %td
                = image_tag("52/accessories/tbcbpk-p.jpg")
              %td
                %b TBCBPK-P
              %td
                %p
                  InfoCase Backpack 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("52/accessories/tbccomunv-p.jpg")
              %td
                %b TBCCOMUNV-P
              %td
                %p
                  InfoCase ComUniversal Carrying Case 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("52/accessories/tbcrlr-p.jpg")
              %td
                %b TBCRLR-P
              %td
                %p
                  InfoCase ComUniversal Roller 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("52/accessories/ttdphdmi.jpg")
              %td
                %b TTDPHDMI
              %td
                %p
                  DisplayPort to HDMI Adapter 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
      %section
        %p.title{"data-section-title" => ""}
          %a{href: "#panel4"} News &amp; Reviews
        .content{"data-section-content" => "", "data-slug" => "panel4"}
          %h3 NEWS &amp; REVIEWS
          = image_tag("52/news_reviews/article-bests-going-mobile.jpg", style: "float: left; padding-right: 10px;")
          %p
            %b Best's Review: Going Mobile
          %p Tom OConnor discusses the importance of total ownership cost, return on investment, ruggedness, and warranties in the market of corporate computer purchasing. Mobility and productivity have become inexorably connected.
          %p
            %b
              %a{href: "/assets/52/specs/BestsReview-GoingMobile-TomOConnor-May2012.pdf"}
                LEARN MORE
                = image_tag("31/specs/arrow-blue.gif")
          = image_tag("52/news_reviews/article-integ-sols.gif", style: "float: left; padding-right: 10px;")
          %p
            %b Integrated Solutions: "Navigate Mobile Technology Investments For A Competitive Edge"
          %p According to a recent IDC Worldwide Mobile Worker Population Forecast, nearly 75% of the U.S. workforce will perform at least part of their jobs outside the traditional office space by the end of 2011. Rance M. Poehler, president of Panasonic Solutions Company, outlines the necessary factors to consider when selecting the best mobile computing solution to meet the needs of a growing mobile workforce, while also minimizing hidden costs.
          %p
            %b
              %a{href: "http://www.fieldtechnologiesonline.com/article.mvc/Navigate-Mobile-Technology-Investments-For-A-0002"}
                LEARN MORE
                = image_tag("31/specs/arrow-blue.gif")
          = image_tag("52/news_reviews/article-waterwaste.gif", style: "float: left; padding-right: 10px;")
          %p
            %b Water and Wastes Digest: "Evaluating mobile computing solutions for water utilities"
          %p From meter reading to mapping to customer service, mobile computers play a vital role in the water industry. Often, these computers must perform in less-than-ideal conditions. Thell Gillis, business development manager for the energy, utilities and communications industries at Panasonic Solutions Company, outlines the features mobile computing solutions must have in order to meet the needs of the water industry.
          %p
            %b
              %a{href: "http://www.waterworld.com/index/display/article-display/291639/articles/waterworld/volume-23/issue-5/automation-technology/mobile-computing-requires-pcs-ldquoruggedizedrdquo-for-working-environment.html"}
                LEARN MORE
                = image_tag("31/specs/arrow-blue.gif")
          = image_tag("52/news_reviews/review-award-LAPTOP-editors-choice.gif", style: "float: left; padding-right: 10px;")
          %p
            %b LAPTOP Magazine: Ultimate Choice Award for Top Laptop on the Market July 2008
          %p The Panasonic Toughbook 52 was honored with LAPTOP Magazine's Ultimate Choice Award in summer 2008. After testing and evaluating a range of mobile technology products, LAPTOP chose the Toughbook based upon its design, ease of use, features, performance and overall value. The Toughbook 52 was praised for its durable magnesium-alloy case and shock-mounted hard drive, as well as its embedded wireless and reliable performance.
          = image_tag("52/news_reviews/review-award-LAPTOP-editors-choice.gif", style: "float: left; padding-right: 10px;")
          %p
            %b LAPTOP Magazine: Editors' Choice Award January 2008
          %p The Panasonic Toughbook 52 was honored with LAPTOP Magazine's Ultimate Choice Award in summer 2008. After testing and evaluating a range of mobile technology products, LAPTOP chose the Toughbook based upon its design, ease of use, features, performance and overall value. LAPTOP provides information, advice and insights that enable readers to thrive in a wireless world. LAPTOP serves as a leading source of mobile technology information and the essential guide for both mobile professionals and tech-savvy consumers who want to make informed buying decisions and stay connected and entertained on the go.
          = image_tag("52/news_reviews/review-award-roadster-mvp-2007.gif", style: "float: left; padding-right: 10px;")
          %p
            %b Newport's roadSTAR Magazine: MVP Award December 2007
          %p The Panasonic Toughbook 52, a semi-rugged, wireless-ready desktop replacement notebook was chosen for the RoadStar Most Valuable Product award. The Toughbook 52 was selected for its unique combination of features, including the spill resistant keyboard, widescreen, flexible internal connectors, and shock-mounted hard drive.
          %p RoadStar's Most Valuable Products awards showcase the editors' picks of the best new product introductions of the year. The winners were selected from hundreds of new product articles appearing in the magazine, at www.truckinginfo.com and in the Internet-delivered New Product News magazine. They were judged on their ability to make a driver's life safer, more comfortable or more convenient.
          = image_tag("52/news_reviews/review-award-laptop-choice-2008.gif", style: "float: left; padding-right: 10px;")
          %p
            %b PC Magazine: Editor's Choice Award for Best Product Performance October 2007
          %p The Toughbook 52 is equipped with an Intel Core 2 Duo T7100 or T7300 processor running at 1.8 and 2.0 GHz, respectively, and 1GB of RAM (upgradable to 4GB).Storage comes by of an 80GB or 120GB hard drive, and video is driven by an ATI X2300 M71-M or Intel GMA X3100 graphics chip. The system has a built-in DVD burner, four USB ports, a FireWire port, and ExpressCard and PC Card Slots. A SmartCard slot provides an added layer of security. The system comes with an 802.11a/b/g Wi-fi adapter and can be outfitted with Bluetooth 2.0 and Verizon Wireless mobile broadband (EV-DO) options to provide all the wireless connectivity you'll need.
          %p
            %b
              %a{href: "/assets/52/specs/LAPTOP_Ultimate_Mobility_CF-52.pdf"}
                LEARN MORE
                = image_tag("31/specs/arrow-blue.gif")
          = image_tag("52/news_reviews/review-award-var-biz-tech-innovator.gif", style: "float: left; padding-right: 10px;")
          %p
            %b VARBusiness: Tech Innovator Award in Portable PCs category October 2007
          %p VARBusiness is written covers analysis of strategic technologies, management-related issues, customer experiences and high value solutions while anticipating trends and delivering critical research executives can leverage for a competitive advantage. It provides value-added resellers, Internet service providers, integrators, developers, consultants and e-commerce and e-solutions providers with the latest news, business and service information.
      %section
        %p.title{"data-section-title" => ""}
          %a{href: "#panel5"} Resources
        .content{"data-section-content" => "", "data-slug" => "panel5"}
          %h3 SPECS
          %p
            %a{href: "/assets/52/resources/Toughbook-52oi.pdf"}
              = image_tag("52/specs/icon-pdf.gif")
              Operating Instructions
            %br
            %a{href: "/assets/52/resources/TB-52_ss.pdf"}
              = image_tag("52/specs/icon-pdf.gif")
              Spec Sheet
            %br
            %a{href: "/assets/52/resources/Toughbook_Product_Comparison_Chart.pdf"}
              = image_tag("52/specs/icon-pdf.gif")
              Product Comparison Chart
            %br
            %a{href: "/assets/52/resources/VDC_Research_TCO_Whitepaper.pdf"}
              = image_tag("52/specs/icon-pdf.gif")
              Mapping Technical and Operational Challenges of Mobile Computing Deployments
            %br
            %a{href: "/assets/52/resources/Montgomery_Research_Whitepaper.pdf"}
              = image_tag("52/specs/icon-pdf.gif")
              Using Analytics for Better Mobile Technology Decisions
            %br
            %a{href: "/assets/52/resources/Business_Case_for_Rugged_PCs.pdf"}
              = image_tag("52/specs/icon-pdf.gif")
              Assessing the Broad Business Case for Rugged Computing
#imageGallery.reveal-modal
  .slideshow-wrapper
    %ul{"class-" => "", "data-orbit" => ""}
      %li{"data-orbit-slide" => "headline-1"}
        %a{href: "#"}
          = image_tag("52/image_gallery/standard/CF-52_Head_On.jpg")
        .orbit-caption
          %a{href: "CF-52_Head_On.jpg"} high res image
          [jpg, 2.6mb]
      %li{"data-orbit-slide" => "headline-2"}
        %a{href: "#"}
          = image_tag("52/image_gallery/standard/CF-52_3QTR_Right.jpg")
        .orbit-caption
          %a{href: "CF-52_3QTR_Right.jpg"} high res image
          [jpg, 1.4mb]
      %li{"data-orbit-slide" => "headline-3"}
        %a{href: "#"}
          = image_tag("52/image_gallery/standard/CF-52_3Qtr_Left.jpg")
        .orbit-caption
          %a{href: "CF-52_3Qtr_Left.jpg"} high res image
          [jpg, 1.5mb]
      %li{"data-orbit-slide" => "headline-4"}
        %a{href: "#"}
          = image_tag("52/image_gallery/standard/CF-52_Closed_Left.jpg")
        .orbit-caption
          %a{href: "CF-52_Closed_Left.jpg"} high res image
          [jpg, 1.8mb]
      %li{"data-orbit-slide" => "headline-5"}
        %a{href: "#"}
          = image_tag("52/image_gallery/standard/CF-52_Closed.jpg")
        .orbit-caption
          %a{href: "CF-52_Closed.jpg"} high res image
          [jpg, 2.8mb]
      %li{"data-orbit-slide" => "headline-6"}
        %a{href: "#"}
          = image_tag("52/image_gallery/standard/CF-52_Clamshell_Right.jpg")
        .orbit-caption
          %a{href: "CF-52_Clamshell_Right.jpg"} high res image
          [jpg, 2.2mb]
      %li{"data-orbit-slide" => "headline-7"}
        %a{href: "#"}
          = image_tag("52/image_gallery/standard/CF-52_Clamshell_On_End.jpg")
        .orbit-caption
          %a{href: "CF-52_Clamshell_On_End.jpg"} high res image
          [jpg, 1.5mb]
  .slideshow_arrows
    .arrow_left
      %a{href: "#"}
        = image_tag("52/image_gallery/carousel-arrow-left-over.gif")
    .arrow_right
      %a{href: "#"}
        = image_tag("52/image_gallery/carousel-arrow-right-over.gif")
  .slideshow_nav_container
    %ul.slideshow_nav
      %li.active{"data-orbit-link" => "headline-1"}
        %a{href: "#"}
          = image_tag("52/image_gallery/thumbs/CF-52_Head_On.jpg")
      %li{"data-orbit-link" => "headline-2"}
        %a{href: "#"}
          = image_tag("52/image_gallery/thumbs/CF-52_3QTR_Right.jpg")
      %li{"data-orbit-link" => "headline-3"}
        %a{href: "#"}
          = image_tag("52/image_gallery/thumbs/CF-52_3Qtr_Left.jpg")
      %li{"data-orbit-link" => "headline-4"}
        %a{href: "#"}
          = image_tag("52/image_gallery/thumbs/CF-52_Closed_Left.jpg")
      %li{"data-orbit-link" => "headline-5"}
        %a{href: "#"}
          = image_tag("52/image_gallery/thumbs/CF-52_Closed.jpg")
      %li{"data-orbit-link" => "headline-6"}
        %a{href: "#"}
          = image_tag("52/image_gallery/thumbs/CF-52_Clamshell_Right.jpg")
      %li{"data-orbit-link" => "headline-7"}
        %a{href: "#"}
          = image_tag("52/image_gallery/thumbs/CF-52_Clamshell_On_End.jpg")
  %a.close-reveal-modal ×

:javascript
  $(document).foundation('topbar');
  $(document).foundation('section', {
    deep_linking: true
  });
  $(document).foundation('reveal', {
    animation: 'fade',
    dismissModalClass: 'close-reveal-modal'
  });
  $(document).foundation('orbit', {
    animation: 'fade',
    slide_number: false,
    timer: false,
    bullets: false,
    ready: function(){
      console.log( initialSlideState );
    },
    after_slide_change: function(slideNum){
        $("ul.slideshow_nav li").removeClass('active');
        navItem = $("ul.slideshow_nav li[data-orbit-link=headline-"+(slideNum+1)+"]");
        navItem.addClass('active');
        
        navContainer = $(".slideshow_nav_container");
        navContWidth = navContainer.width();
        nav = $("ul.slideshow_nav");
        leftSide = parseInt(navItem.offset().left) - parseInt(navContainer.offset().left);
        centered = (((parseInt(leftSide) + (parseInt(navItem.width()) / 2)) - ( parseInt(navContWidth) / 2 )) * -1) + parseInt(nav.css('left'));
        
        if( centered > 0 )
          centered = 0;
        
        rightBound = ((nav.width() - navContWidth) * -1);
        if( centered < rightBound )
          centered = rightBound;

        nav.animate({left: centered}, 250);
      }
  });

  $(".slideshow_arrows .arrow_right").on("click", function(){
    slideNavCar('right');
  });
  $(".slideshow_arrows .arrow_left").on("click", function(){
    slideNavCar('left');
  });

  function slideNavCar(direction){
    nav = $("ul.slideshow_nav");
    navContainer = $(".slideshow_nav_container");
    navContWidth = navContainer.width();

    if( direction == 'right' )
      centered = parseInt(nav.css('left')) - navContWidth;
    else
      centered = parseInt(nav.css('left')) + navContWidth;
    
    if( centered > 0 )
      centered = 0;
    
    rightBound = ((nav.width() - navContWidth) * -1);
    if( centered < rightBound )
      centered = rightBound;

    nav.animate({left: centered}, 250);
  }























