.row
  .small-12.columns
.row
  .small-12.columns
    .row
      .small-5.columns
        .slideshow-trigger
          = image_tag("F9/cf-f9kwhzz2m.jpg")
          %p.thumbnail_triggers
            %a{"data-orbit-link" => "headline-1", "data-reveal-id" => "imageGallery", href: "#"}
              = image_tag("F9/F9_Head_On.jpg")
            %a{"data-orbit-link" => "headline-2", "data-reveal-id" => "imageGallery", href: "#"}
              = image_tag("F9/F9_Head_On-DVD_Open.jpg")
            %a{"data-orbit-link" => "headline-3", "data-reveal-id" => "imageGallery", href: "#"}
              = image_tag("F9/F8_Rotation_12.jpg")
            %a{"data-orbit-link" => "headline-4", "data-reveal-id" => "imageGallery", href: "#"}
              = image_tag("F9/F8_Rotation_5.jpg")
          %p
            %a{"data-reveal-id" => "imageGallery", href: "#"}
              VIEW GALLERY
              = image_tag("31/specs/arrow-blue.gif")
      .small-7.columns
        .product-info
          %h2 Toughbook F9
          %p.prod_info World's lightest 14" laptop. Only 3.6 lbs with a DVD drive and handle.
          %p.left
            %a{href: "http://www.panasonic.com/business-solutions/buy-toughbook-computers-laptops-tablets.asp"}
              = image_tag("31/btn-how-to-buy.gif")
          %p.right.intel
            %a{href: "http://www.intel.com/content/www/us/en/processors/core/2nd-gen-core-overview-video.html"}
              = image_tag("F9/intel-core-i5.gif")
.row
  .small-12.columns
    .section-container.auto{"data-section" => ""}
      %section.active
        %p.title{"data-section-title" => ""}
          %a{href: "#panel1"} Overview
        .content{"data-section-content" => "", "data-slug" => "panel1"}
          %h3 OVERVIEW
          %p.tagline
            %u Sleek, Rugged Mobility
          %p
            Ready to move at the speed of business, the lightweight, 3.6-pound Toughbook® F9 is the world's lightest 14" laptop. It offers a large 14.1" widescreen WXGA+ display, DVD drive, handle, Wi-Fi, Bluetooth® and optional Gobi™2000 mobile broadband. It features a circular scrolling touchpad for effortless scrolling through long documents and an integrated handle for easier portability. The durable Toughbook F9 also comes standard with a 320GB shock-mounted flex-connect hard drive, spill-resistant keyboard, and Intel® Core™ i5 vPro™ processor, for added security and remote management.
          %p.footnote
            %i Intel, the Intel logo, Intel Core, Intel vPro, Core Inside and vPro Inside are trademarks of Intel Corporation in the U.S. and/or other countries
      %section
        %p.title{"data-section-title" => ""}
          %a{href: "#panel2"} Specs
        .content{"data-section-content" => "", "data-slug" => "panel2"}
          %h3 SPECS
          %p
            %a{href: "/assets/F9/specs/TB-F9_ss.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Toughbook F9 Spec Sheet
          %p
            See which Toughbook model is right for you. View the
            %a{href: "/assets/31/specs/Toughbook_Product_Comparison_Chart.pdf"}
              product comparison chart
              = image_tag("31/specs/arrow-blue.gif")
          %h3 CERTIFICATIONS
          %p
            %b ENERGY STAR Qualification
          = image_tag("31/specs/certification-energy-star.gif", style: "float: left; padding-right: 10px;")
          %p ENERGY STAR, a joint program between the U.S. Environmental Protection Agency and U.S. Department of Energy, offers voluntary qualification for products that are energy efficient. The ENERGY STAR program sets high standards designed to save energy, save money and help protect the environment for future generations. Panasonic is one of nearly 20,000 organizations that have become ENERGY STAR partners, all working to promote, sell, or improve products, homes, and buildings that use less energy and qualify for the ENERGY STAR. Panasonic's commitment to ENERGY STAR initiatives and other environmental programs have resulted in all Toughbook® computers earning the ENERGY STAR.
          %p ENERGY STAR for computers raises the efficiency bar dramatically. ENERGY STAR establishes efficiency requirements for all modes of a product's operation, which ensures energy savings when a product is active and running basic applications, as well as in low power modes. Qualifying products must also include an internal power supply that is at least 80 percent efficient. Only the most energy-efficient products, including all Toughbook computers have qualified for the new specification. If all computers sold in the US meet ENERGY STAR requirements, the savings in energy costs will grow to more than $1.5 billion each year, reducing greenhouse gas emissions equivalent to those from 2 million vehicles.
          %p
            %b
              %a{href: "http://www.energystar.gov/index.cfm"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b EPEAT Certification
          = image_tag("31/specs/certification-epeat-gold.gif", style: "float: left; padding-right: 10px;")
          %p EPEAT is an easy-to-use, online tool to help purchasers in the public and private sectors evaluate, compare and select products based on their environmental attributes. EPEAT also provides a clear and consistent set of performance criteria for the design of products, and provides an opportunity for manufacturers to secure market recognition for their efforts to reduce the environmental impact of its products.
          %p EPEAT evaluates electronic products according to three tiers of environmental performance — Bronze, Silver and Gold. There are 51 total environmental criteria: 23 required criteria and 28 optional criteria. A Bronze-rated product meets all 23 required criteria. A Silver-rated product meets all 23 required criteria plus at least 50% of the optional criteria. A Gold-rated product meets all 23 required criteria and at least 75% of the optional criteria. All Toughbook computer models are either gold- or silver-rated, ensuring the highest level of environmental performance.
          %p
            %b
              %a{href: "http://www.epeat.net/blog/"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b ISO Certification
          = image_tag("31/specs/certification-iso.gif", style: "float: left; padding-right: 10px;")
          %p Since 1996, all Panasonic manufacturing plants worldwide—including the factory in Kobe, Japan—have achieved ISO 14001 registration and implemented the ISO 14001 Environmental Management System. The Kobe factory has also been certified for ISO 9001, an international standard for quality management systems that enhance product quality assurance and customer satisfaction.
          %p International Organization for Standardization (ISO) is an international federation promoting the development of international manufacturing, trade, and communication standards. ISO 14000, a series of standards, provides the framework for managing the environmental impacts of an organization.
          %p The ISO 14001 international standard established a systematic approach that organizations can use to minimize or prevent environmental impacts and risks. This approach, known as an Environmental Management System or EMS, requires the organization to establish an environmental control policy, educate employees about procedures and continually monitor environmental performance.
          %p
            %b
              %a{href: "http://www.iso.org/iso/home.html"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b RoHS Compliance
          = image_tag("31/specs/certification-rohs.gif", style: "float: left; padding-right: 10px;")
          %p For manufacturers of electronic equipment, the main impact of RoHS is that only lead-free products can be sold in Europe. Panasonic has therefore shifted to lead-free solder. By selling RoHS-compliant products in all countries, not just Europe, Panasonic helps eliminate hazardous electronic waste materials from landfills and waste dumps around the world.
          %p
            %b
              %a{href: "http://www.informinc.org/improhs.pdf"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b Section 508 Standards
          = image_tag("31/specs/certification-section-508.gif", style: "float: left; padding-right: 10px;")
          %p Section 508 was enacted to eliminate barriers in information technology, to make available new opportunities for people with disabilities, and to encourage development of technologies that will help achieve these goals. Electronic and information technology procured by Federal agencies must meet Section 508's requirements for accessibility.
          %p IToughbook® mobile computers have long been designed and manufactured with access-friendly features, such as touchscreens and the ability to be mounted on wheelchairs. In addition, Panasonic works closely with Microsoft to ensure that Toughbook computers can take full advantage of the accessibility features built into Windows®. Panasonic continually endeavors to make all its products more accessible to, and usable by, individuals with disabilities. In fact, Panasonic worked with ITIC (Information Technology Industry Council) in developing the Section 508 "Buy Accessible" template, and also actively participates in the GSA (General Services Administration) sponsored Accessibility Forum.
          %p
            %b
              %a{href: "Panasonic_508_Statement.pdf"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b Verizon Wireless
          = image_tag("31/specs/certification-verizon.gif", style: "float: left; padding-right: 10px;")
          %p Verizon Wireless delivers high-speed wireless access in 259 major metro areas, covering more than 280 million people. Panasonic Toughbook computers connect to the Verizon Wireless network without the need of a PC card or Wi-Fi hotspot.
          %p
            %b
              %a{href: "http://www.panasonic.com/business-solutions/wireless-carrier-partners-verizon.asp"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b AT&T
          = image_tag("31/specs/certification-att.gif", style: "float: left; padding-right: 10px;")
          %p A United States wireless leader, AT&T has more than 72.9 million subscribers and offers the best coverage of any carrier worldwide. Panasonic Toughbook mobile computers are designed with embedded wireless technology allowing instant access to AT&T's extensive high-speed network without the need for an external card, additional antenna or other accessories.
          %p
            %b
              %a{href: "http://www.panasonic.com/business-solutions/wireless-carrier-partners-at&t.asp"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b Sprint
          = image_tag("31/specs/certification-sprint.gif", style: "float: left; padding-right: 10px;")
          %p Sprint offers a comprehensive range of wireless connectivity services reaching over 249 million individuals, businesses and government users. Select Toughbook mobile computer models connect seamlessly with Sprint's extensive network, delivering high-speed wireless access in over 18,477 cities and 1,818 airports.
          %p
            %b
              %a{href: "http://www.panasonic.com/business-solutions/wireless-carrier-partners-sprint.asp"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
          %p.footnote
            %sup 1
            Tested by national independent third party lab following MIL-STD-810G Method 516.6 Procedure IV for transit drop test and IEC 60529 Sections 13.4, 13.6.2, 14.2.5 and 14.3 for IP65.
      %section
        %p.title{"data-section-title" => ""}
          %a{href: "#panel6"} Features
        .content{"data-section-content" => "", "data-slug" => "panel6"}
          %h3 FEATURES
          .section-container.vertical-tabs{"data-section" => "vertical-tabs"}
            %section.active
              %p.title{"data-section-title" => ""}
                %a{href: "#feature1"} Innovative Design
              .content{"data-section-content" => "", "data-slug" => "feature1"}
                %h3 Innovative Design
                %p The engineers behind Toughbook are constantly researching ways to make the business-rugged series tougher, lighter and easier to use. New features like A a compact shell drive, an easy-to-use circular scrolling touchpad, up to 30 inch drop-resistant design and available with built-in Gobi™ mobile broadband make this line of Toughbook business-rugged mobile computers the ultimate innovation for mobile professionals.
                %p{ :style => "width: 100%; text-align: center;" }
                  = image_tag("F9/features/f9-features.jpg")
            %section
              %p.title{"data-section-title" => ""}
                %a{href: "#feature2"} Lightweight Rugged Design
              .content{"data-section-content" => "", "data-slug" => "feature2"}
                %p Inside and out, Toughbook business-rugged mobile computers are engineered for mobility and durability. The magnesium alloy casing is light but strong, protects against electromagnetic waves and provides good heat dispersion. The contoured lid makes it dramatically stronger than a flat lid design. In addition, an annular pipe around the outer edges of the top plate braces against pressure and prevents twisting, thus protecting the LCD from pressure. Inside, the LCD panel is supported by a floating design, which means that even if the lid were to be twisted, the LCD would not break easily. In this way, a number of combined design elements make the Toughbook business-rugged series one of the lightest and toughest on the market.
                %p{ :style => "width: 100%; text-align: center;" }
                  = image_tag("F9/features/bizrug-lightweight-rugged-design.gif")
            %section
              %p.title{"data-section-title" => ""}
                %a{href: "#feature3"} Drop Test
              .content{"data-section-content" => "", "data-slug" => "feature3"}
                %p According to studies, drops while carrying a laptop are the most common reason for laptop failure and drops during operation are the third most common reason. The word "drop" however, may refer to significantly different things: depending on the drop height and conditions of impact, the force of impact on the PC will be different. That's why Panasonic carries out free fall tests from three heights: 4 to 6 inches (to simulate the action of a careless drop onto a desk), 12 inches (to simulate the force of impact of a computer inside a bag being chucked onto a desk), 30 inches (to simulate the fall of a computer that is knocked off a desk or dropped during carriage). All Toughbook business-rugged models must pass all of these tests as part of their rugged design.
                %p{ :style => "width: 100%; text-align: center;" }
                  = image_tag("F9/features/bizrug-drop-test.jpg")
            %section
              %p.title{"data-section-title" => ""}
                %a{href: "#feature4"} Spill Resistant Keyboard
              .content{"data-section-content" => "", "data-slug" => "feature4"}
                %p Because liquid spills are the second most common cause of laptop trouble, a spill resistant keyboard has been added as a standard feature of the entire Toughbook business-rugged line. In the event of a spill, a waterproof keyboard, combined with a unique drain-through design, allows liquids to pass through and exit from the bottom of these mobile computers. Moreover, a drain-away design on the optical drive enclosure (optical drive available on select models) further protects them from liquid penetration. This reduces the risk of water damage and extends the life of these tough mobile computers.
                %p{ :style => "width: 100%; text-align: center;" }
                  = image_tag("F9/features/bizrug-spill resistant.gif")
            %section
              %p.title{"data-section-title" => ""}
                %a{href: "#feature5"} Compact Shell DVD Drive
              .content{"data-section-content" => "", "data-slug" => "feature5"}
                %p In order to create the lightest mobile computer possible, Panasonic took an innovative approach while designing the DVD drive on Toughbook business-rugged models. Taking a hint from portable CD players, a top-opening shell DVD drive was developed for use in Toughbook business-rugged computers. By getting rid of the tray, screws, and other parts used in normal DVD tray drives, the Toughbook business-rugged DVD drive weighs four times less than a traditional laptop drive. And, because the shell drive is integrated directly into the body, the mobile computer body is 3 to 7 times stronger than with a tray type drive.
                %p{ :style => "width: 100%; text-align: center;" }
                  = image_tag("F9/features/bizrug-compact-shell-dvd-drive.jpg")
            %section
              %p.title{"data-section-title" => ""}
                %a{href: "#feature6"}
                  Easy-to-use Circular
                  %br
                  Scrolling Touchpad
              .content{"data-section-content" => "", "data-slug" => "feature6"}
                %p In a mobile environment, it is often hard to use an external mouse. For pointer operation, all Toughbook business-rugged mobile computers feature a circular touchpad. Unlike square touchpads, the circular touchpad is extremely efficient and ergonomic, taking up only as much space as the user's fingers require. Furthermore, it features an easy-to-use vertical scrolling capability by moving your fingers on the edge of the touchpad clockwise or counterclockwise. It can also be customized to suit individual preferences.
                %p{ :style => "width: 100%; text-align: center;" }
                  = image_tag("F9/features/bizrug-circular-touchpad.jpg")
            %section
              %p.title{"data-section-title" => ""}
                %a{href: "#feature7"} Gobi™ Mobile Broadband
              .content{"data-section-content" => "", "data-slug" => "feature7"}
                %p With optional Gobi™ mobile broadband from Qualcomm, Panasonic Toughbook® mobile computer users can connect globally using Panasonic's next-generation wireless computers. Using high-speed 3G mobile internet networks can increase productivity and reduce downtime, as a reliable connection can be secured virtually anywhere a cell phone can be used. In addition, the Panasonic Carrier Selection Application (CSA) software platform, allows users to select or change to the best carrier for any geographic area. 
                %p
                  = image_tag("F9/features/bizrug-gobi.gif")
      %section
        %p.title{"data-section-title" => ""}
          %a{href: "#panel3"} Accessories
        .content{"data-section-content" => "", "data-slug" => "panel3"}
          %h3 ACCESSORIES
          %table
            %tr
              %th
              %th model
              %th description
              %th certified
            %tr
              %td
                = image_tag("f9/accessories/cf-aa6503am.jpg")
              %td
                %b CF-AA6503A2M
              %td
                %p
                  AC Adapter (3-prong) 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("f9/accessories/cf-lndacdc90.jpg")
              %td
                %b CF-LNDACDC90
              %td
                %p
                  LIND Car/AC Adapter 90W (with USB port) 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td
                = image_tag("F9/accessories/certified-checkmark.gif")
            %tr
              %td
                = image_tag("f9/accessories/cf-lndbrk120.jpg")
              %td
                %b CF-LNDBRK120
              %td
                %p
                  LIND Car Adapter 120W Mounting Bracket 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td
                = image_tag("F9/accessories/certified-checkmark.gif")
            %tr
              %td
                = image_tag("f9/accessories/cf-lnddc120.jpg")
              %td
                %b CF-LNDDC120
              %td
                %p
                  LIND Car Adapter 120W 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td
                = image_tag("F9/accessories/certified-checkmark.gif")
            %tr
              %td
                = image_tag("f9/accessories/cf-lnddc80.jpg")
              %td
                %b CF-LNDDC80
              %td
                %p
                  LIND Car Adapter 80W 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td
                = image_tag("F9/accessories/certified-checkmark.gif")
            %tr
              %td
                = image_tag("f9/accessories/cf-lndlpt.jpg")
              %td
                %b CF-LNDLPT
              %td
                %p
                  LIND low-profile shut-down timer 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td
            %tr
              %td
                = image_tag("f9/accessories/cf-vebf81w.jpg")
              %td
                %b CF-VEBF81W
              %td
                %p
                  Panasonic Desktop Port Replicator USB (4), VGA, DisplayPort, RJ-45, AC jack, cable lock slots (2), dock release 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("f9/accessories/cf-vebu08u.jpg")
              %td
                %b CF-VEBU08U
              %td
                %p
                  Panasonic Mini-dock Box USB (4), DisplayPort, RJ-45, AC jack 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("f9/accessories/cf-vzsu56u.jpg")
              %td
                %b CF-VZSU56U
              %td
                %p
                  Panasonic Lithium Ion Battery Pack 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("f9/accessories/image_not_available.jpg")
              %td
                %b CF-WMBA902GF
              %td
                %p
                  2GB DDR3 Memory Card 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("f9/accessories/image_not_available.jpg")
              %td
                %b CF-WMBA904G
              %td
                %p
                  Panasonic 4GB DDR3 Memory Card 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("f9/accessories/tbcbpk-p.jpg")
              %td
                %b TBCBPK-P
              %td
                %p
                  InfoCase Backpack 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("f9/accessories/tbcbrtl-p.jpg")
              %td
                %b TBCBRTL-P
              %td
                %p
                  InfoCase Business-rugged Top-loading Case 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("f9/accessories/tbccomunv-p.jpg")
              %td
                %b TBCCOMUNV-P
              %td
                %p
                  InfoCase ComUniversal Carrying Case 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("f9/accessories/tbcrlr-p.jpg")
              %td
                %b TBCRLR-P
              %td
                %p
                  InfoCase ComUniversal Roller 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("f9/accessories/ttdphdmi.jpg")
              %td
                %b TTDPHDMI
              %td
                %p
                  DisplayPort to HDMI Adapter 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
      %section
        %p.title{"data-section-title" => ""}
          %a{href: "#panel4"} News &amp; Reviews
        .content{"data-section-content" => "", "data-slug" => "panel4"}
          %h3 NEWS &amp; REVIEWS
          = image_tag("F9/news_reviews/article-bests-going-mobile.jpg", style: "float: left; padding-right: 10px;")
          %p
            %b Best's Review: Going Mobile
          %p Tom OConnor discusses the importance of total ownership cost, return on investment, ruggedness, and warranties in the market of corporate computer purchasing. Mobility and productivity have become inexorably connected.
          %p
            %b
              %a{href: "/assets/53/resources/BestsReview-GoingMobile-TomOConnor-May2012.pdf"}
                LEARN MORE
                = image_tag("31/specs/arrow-blue.gif")
          = image_tag("F9/news_reviews/article-f9-verizon-operative.gif", style: "float: left; padding-right: 10px;")
          %p
            %b Operative Media Inc. Equips Management Team with Business-Rugged Toughbook F8 While On the Road
          %p Operative has not experienced a single hardware failure since deploying the Toughbook F8s. This reliability has reduced IT support expense, allowing Operative IT managers to focus on other strategic projects and investments.
          %p
            %b
              %a{href: "ftp://ftp.panasonic.com/pub/panasonic/business-solutions/case_studies/PSC_Operative_Case_Study.pdf"}
                LEARN MORE
                = image_tag("31/specs/arrow-blue.gif")
          = image_tag("F9/news_reviews/article-entech-eng.jpg", style: "float: left; padding-right: 10px;")
          %p
            %b Toughbook Computers Allow Entech Engineering to Stay Connected at the Jobsite
          %p In 2002, Entech began looking for a versatile, rugged laptop that could be used in the office for planning and CAD drawing applications and at the jobsite to document changes in construction. The device needed to be powerful enough to run graphic-intensive design software and durable enough to withstand the rigors of a construction site and the challenges of a busy travel schedule. Entech engaged DataSource Mobility, a Tennessee-based technology reseller specializing in providing solutions to the AEC market, who introduced them to Panasonic Toughbook® durable notebooks. Entech selected Panasonic's business-rugged line for its light weight, portability, durability and dust resistance.
          %p
            %b
              %a{href: "http://www.panasonic.com/business-solutions/field-service-technology-case-study-entech.asp"}
                LEARN MORE
                = image_tag("31/specs/arrow-blue.gif")
          = image_tag("F9/news_reviews/article-integ-sols.gif", style: "float: left; padding-right: 10px;")
          %p
            %b Integrated Solutions: "Navigate Mobile Technology Investments For A Competitive Edge"
          %p According to a recent IDC Worldwide Mobile Worker Population Forecast, nearly 75% of the U.S. workforce will perform at least part of their jobs outside the traditional office space by the end of 2011. Rance M. Poehler, president of Panasonic Solutions Company, outlines the necessary factors to consider when selecting the best mobile computing solution to meet the needs of a growing mobile workforce, while also minimizing hidden costs.
          %p
            %b
              %a{href: "http://www.fieldtechnologiesonline.com/article.mvc/Navigate-Mobile-Technology-Investments-For-A-0002"}
                LEARN MORE
                = image_tag("31/specs/arrow-blue.gif")
          = image_tag("F9/news_reviews/review-award-financial-times.gif", style: "float: left; padding-right: 10px;")
          %p
            %b Drop It, Drench It, Stamp On It
          %p The Toughbook F9 delivers the enhanced reliability and durability of a semi-rugged or business-rugged machine that complies with the least onerous military spec, wrapped up in an ultra-lightweight magnesium alloy case with a foldaway carrying handle.
          %p [registration required]
          %p
            %b
              %a{href: "http://www.ft.com/cms/s/b21b0026-b160-11df-b899-00144feabdc0,Authorised=false.html?_i_location=http%3A%2F%2Fwww.ft.com%2Fcms%2Fs%2F0%2Fb21b0026-b160-11df-b899-00144feabdc0.html&_i_referer=http%3A%2F%2Fwww.panasonic.com%2Fbusiness%2Ftoughbook%2Fbusiness-rugged-toughbook-C1-convertible-tablet-pc.asp"}
                LEARN MORE
                = image_tag("31/specs/arrow-blue.gif")
          = image_tag("F9/news_reviews/review-award-gcn.gif", style: "float: left; padding-right: 10px;")
          %p
            %b Toughbook Central
          %p Panasonic's Toughbook mobile PCs have earned a reputation for ruggedness from government users in all sorts of fields: law enforcement, the military and first responders. So when the GCN Lab staff was invited on a weeklong press tour of Panasonic’s Toughbook factory in Japan, we jumped at the chance to see how the legendary workhorses of the laptop world are made.
          %p
            %b
              %a{href: "http://gcn.com/articles/2009/02/03/toughbook-central.aspx?s=lab_040209"}
                LEARN MORE
                = image_tag("31/specs/arrow-blue.gif")
          = image_tag("F9/news_reviews/review-award-toughbook.gif", style: "float: left; padding-right: 10px;")
          %p
            %b Panasonic Works With Sierra Wireless To Offer Qualcomm's Gobi2000™ Technology On Toughbook® Mobile Computers
          %p Panasonic Computer Solutions Company, manufacturer of durable, reliable Panasonic Toughbook® mobile computers, announced it would deploy Gobi2000™ technology across its line of rugged mobile computers. Toughbook mobile computers featuring the upgraded multi-mode Gobi2000 solution can take advantage of increased global connectivity options, faster data-transfer rates and integrated GPS.
          %p
            %b
              %a{href: "ftp://ftp.panasonic.com/pub/panasonic/toughbook/press/Gobi2000_Release.pdf"}
                LEARN MORE
                = image_tag("31/specs/arrow-blue.gif")
          = image_tag("F9/news_reviews/review-award-toughbook.gif", style: "float: left; padding-right: 10px;")
          %p
            %b Panasonic Introduces Toughbook F9 Business-Rugged Laptop
          %p The thin-and-light Toughbook F9 business-rugged laptop weighs in at a mere 3.6 pounds, making it the industry's lightest 14" class laptop. It features an Intel® Core™ i5 processor, 320GB HDD, high resolution (1440 x 900) widescreen display, optional Qualcomm Gobi2000™ mobile broadband and an integrated handle.
          %p
            %b
              %a{href: "ftp://ftp.panasonic.com/pub/Panasonic/toughbook/press/F9_Launch_Press_Release.pdf"}
                LEARN MORE
                = image_tag("31/specs/arrow-blue.gif")
      %section
        %p.title{"data-section-title" => ""}
          %a{href: "#panel5"} Resources
        .content{"data-section-content" => "", "data-slug" => "panel5"}
          %h3 SPECS
          %p
            %a{href: "/assets/F9/resources/TB-F9_ss.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Spec Sheet
            %br
            %a{href: "ftp://ftp.panasonic.com/pub/panasonic/toughbook/OI/Toughbook-F9-manual-11-10.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Operating Instructions
            %br
            %a{href: "/assets/F9/resources/Toughbook_Product_Comparison_Chart.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Product Comparison Chart
            %br
            %a{href: "ftp://ftp.panasonic.com/pub/panasonic/toughbook/white_papers/VDC_Research_TCO_Whitepaper.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Mapping Technical and Operational Challenges of Mobile Computing Deployments
            %br
            %a{href: "ftp://ftp.panasonic.com/pub/panasonic/toughbook/white_papers/Montgomery_Research_Whitepaper.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Using Analytics for Better Mobile Technology Decisions
#imageGallery.reveal-modal
  .slideshow-wrapper
    %ul{"class-" => "", "data-orbit" => ""}
      %li{"data-orbit-slide" => "headline-1"}
        %a{href: "#"}
          = image_tag("F9/image_gallery/standard/F9_Head_On.jpg")
        .orbit-caption
          %a{href: "/assets/F9/image_gallery/high_res/F9_Head_On.jpg"} high res image
          [jpg, 5mb]
      %li{"data-orbit-slide" => "headline-2"}
        %a{href: "#"}
          = image_tag("F9/image_gallery/standard/F9_Head_On-DVD_Open.jpg")
        .orbit-caption
          %a{href: "/assets/F9/image_gallery/high_res/F9_Head_On-DVD_Open.jpg"} high res image
          [jpg, 5.2mb]
      %li{"data-orbit-slide" => "headline-3"}
        %a{href: "#"}
          = image_tag("F9/image_gallery/standard/F8_Rotation_12.jpg")
        .orbit-caption
          %a{href: "/assets/F9/image_gallery/high_res/F8_Rotation_12.jpg"} high res image
          [jpg, 5.5mb]
      %li{"data-orbit-slide" => "headline-4"}
        %a{href: "#"}
          = image_tag("F9/image_gallery/standard/F8_Rotation_5.jpg")
        .orbit-caption
          %a{href: "/assets/F9/image_gallery/high_res/F8_Rotation_5.jpg"} high res image
          [jpg, 2.8mb]
      %li{"data-orbit-slide" => "headline-5"}
        %a{href: "#"}
          = image_tag("F9/image_gallery/standard/F9_Top-Handle_Open.jpg")
        .orbit-caption
          %a{href: "F9_Top-Handle_Open.jpg"} high res image
          [jpg, 7.7mb]
      %li{"data-orbit-slide" => "headline-6"}
        %a{href: "#"}
          = image_tag("F9/image_gallery/standard/F9_Top-Handle_Closed.jpg")
        .orbit-caption
          %a{href: "F9_Top-Handle_Closed.jpg"} high res image
          [jpg, 7.2mb]
      %li{"data-orbit-slide" => "headline-7"}
        %a{href: "#"}
          = image_tag("F9/image_gallery/standard/F8_Clamshell.jpg")
        .orbit-caption
          %a{href: "/assets/F9/image_gallery/high_res/F8_Clamshell.jpg"} high res image
          [jpg, 2.4mb]
      %li{"data-orbit-slide" => "headline-8"}
        %a{href: "#"}
          = image_tag("F9/image_gallery/standard/F8_Clamshell_Left.jpg")
        .orbit-caption
          %a{href: "/assets/F9/image_gallery/high_res/F8_Clamshell_Left.jpg"} high res image
          [jpg, 3.7mb]
  .slideshow_arrows
    .arrow_left
      %a{href: "#"}
        = image_tag("F9/image_gallery/carousel-arrow-left-over.gif")
    .arrow_right
      %a{href: "#"}
        = image_tag("F9/image_gallery/carousel-arrow-right-over.gif")
  .slideshow_nav_container
    %ul.slideshow_nav
      %li.active{"data-orbit-link" => "headline-1"}
        %a{href: "#"}
          = image_tag("F9/image_gallery/thumbs/F9_Head_On.jpg")
      %li{"data-orbit-link" => "headline-2"}
        %a{href: "#"}
          = image_tag("F9/image_gallery/thumbs/F9_Head_On-DVD_Open.jpg")
      %li{"data-orbit-link" => "headline-3"}
        %a{href: "#"}
          = image_tag("F9/image_gallery/thumbs/F8_Rotation_12.jpg")
      %li{"data-orbit-link" => "headline-4"}
        %a{href: "#"}
          = image_tag("F9/image_gallery/thumbs/F8_Rotation_5.jpg")
      %li{"data-orbit-link" => "headline-5"}
        %a{href: "#"}
          = image_tag("F9/image_gallery/thumbs/F9_Top-Handle_Open.jpg")
      %li{"data-orbit-link" => "headline-6"}
        %a{href: "#"}
          = image_tag("F9/image_gallery/thumbs/F9_Top-Handle_Closed.jpg")
      %li{"data-orbit-link" => "headline-7"}
        %a{href: "#"}
          = image_tag("F9/image_gallery/thumbs/F8_Clamshell.jpg")
      %li{"data-orbit-link" => "headline-8"}
        %a{href: "#"}
          = image_tag("F9/image_gallery/thumbs/F8_Clamshell_Left.jpg")
  %a.close-reveal-modal ×

:javascript
  $(document).foundation('topbar');
  $(document).foundation('section', {
    deep_linking: true
  });
  $(document).foundation('reveal', {
    animation: 'fade',
    dismissModalClass: 'close-reveal-modal'
  });
  $(document).foundation('orbit', {
    animation: 'fade',
    slide_number: false,
    timer: false,
    bullets: false,
    ready: function(){
      console.log( initialSlideState );
    },
    after_slide_change: function(slideNum){
        $("ul.slideshow_nav li").removeClass('active');
        navItem = $("ul.slideshow_nav li[data-orbit-link=headline-"+(slideNum+1)+"]");
        navItem.addClass('active');
        
        navContainer = $(".slideshow_nav_container");
        navContWidth = navContainer.width();
        nav = $("ul.slideshow_nav");
        leftSide = parseInt(navItem.offset().left) - parseInt(navContainer.offset().left);
        centered = (((parseInt(leftSide) + (parseInt(navItem.width()) / 2)) - ( parseInt(navContWidth) / 2 )) * -1) + parseInt(nav.css('left'));
        
        if( centered > 0 )
          centered = 0;
        
        rightBound = ((nav.width() - navContWidth) * -1);
        if( centered < rightBound )
          centered = rightBound;

        nav.animate({left: centered}, 250);
      }
  });

  $(".slideshow_arrows .arrow_right").on("click", function(){
    slideNavCar('right');
  });
  $(".slideshow_arrows .arrow_left").on("click", function(){
    slideNavCar('left');
  });

  function slideNavCar(direction){
    nav = $("ul.slideshow_nav");
    navContainer = $(".slideshow_nav_container");
    navContWidth = navContainer.width();

    if( direction == 'right' )
      centered = parseInt(nav.css('left')) - navContWidth;
    else
      centered = parseInt(nav.css('left')) + navContWidth;
    
    if( centered > 0 )
      centered = 0;
    
    rightBound = ((nav.width() - navContWidth) * -1);
    if( centered < rightBound )
      centered = rightBound;

    nav.animate({left: centered}, 250);
  }























