.row
  .small-12.columns
.row
  .small-12.columns
    .row
      .small-5.columns
        .slideshow-trigger
          = image_tag("FZ-A1/fz-a1bdaaz1m.jpg")
          %p.thumbnail_triggers
            %a{"data-orbit-link" => "headline-1", "data-reveal-id" => "imageGallery", href: "#"}
              = image_tag("FZ-A1/ToughPad_A1_1-60.jpg")
            %a{"data-orbit-link" => "headline-2", "data-reveal-id" => "imageGallery", href: "#"}
              = image_tag("FZ-A1/ToughPad_A1_2-60.jpg")
            %a{"data-orbit-link" => "headline-3", "data-reveal-id" => "imageGallery", href: "#"}
              = image_tag("FZ-A1/ToughPad_A1_3-60.jpg")
            %a{"data-orbit-link" => "headline-4", "data-reveal-id" => "imageGallery", href: "#"}
              = image_tag("FZ-A1/ToughPad_A1_4-60.jpg")
          %p
            %a{"data-reveal-id" => "imageGallery", href: "#"}
              VIEW GALLERY
              = image_tag("31/specs/arrow-blue.gif")
      .small-7.columns
        .product-info
          %h2 Toughpad FZ-A1
          %p.prod_info The first fully-ruggedized tablet powered by Android™ combines high-encryption data and device security with the seamless connectivity and enterprise-grade technology businesses and government agencies require. The Toughpad™ FZ-A1 is the only tablet that is FIPS 140-2-compliant with a dedicated security core for data encryption, and includes preinstalled drivers for approved smart card readers. With its 10.1" daylight-readable display and ability to perform in almost any environment, the Toughpad FZ-A1 is the ideal clipboard replacement.
          %p.left
            %a{href: "http://www.panasonic.com/business-solutions/buy-toughbook-computers-laptops-tablets.asp"}
              = image_tag("31/btn-how-to-buy.gif")
.row
  .small-12.columns
    .section-container.auto{"data-section" => ""}
      %section.active
        %p.title{"data-section-title" => ""}
          %a{href: "#panel1"} Overview
        .content{"data-section-content" => "", "data-slug" => "panel1"}
          %h3 OVERVIEW
          %p
            The Toughpad™ FZ-A1 tablet, powered by Android™, features a big, daylight-readable display and offers unparalleled flexibility via its micro-USB port, vehicle docking capability and professional-grade accessories, making it ideal for clipboard replacement and cloud applications. Engineered with security in mind, Toughpad FZ-A1 comes standard with hardware encryption and embedded enterprise-grade security and management to keep data and other sensitive files encrypted and secure.
          %p
            The Toughpad FZ-A1 is FIPS 140-2 (Level 2) and MIL-STD-810G compliant for impenetrable protection inside and out, featuring a 4ft. drop and all-weather IP65 dust and water-resistant design. With a 10.1" daylight-readable, multi touch + digitizer screen and dedicated GPS, Wi-Fi Bluetooth® and optional 4G LTE mobile broadband, it offers unmatched flexibility in the field. Designed for maximum integration into professional environments, the Toughpad FZ-A1 tablet allows for mobile device management in the thousands, plus a Wi-Fi hotspot router that can support up to 5 devices. With a 3-year warranty and business-class support, it’s the ultimate tablet for the mobile workforce.
      %section
        %p.title{"data-section-title" => ""}
          %a{href: "#panel2"} Specs
        .content{"data-section-content" => "", "data-slug" => "panel2"}
          %h3 SPECS
          %p
            %a{href: "/assets/FZ-A1/specs/Panasonic-Toughpad-A1-Spec-Sheet.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Toughpad FZ-A1 Spec Sheet
      %section
        %p.title{"data-section-title" => ""}
          %a{href: "#panel3"} Accessories
        .content{"data-section-content" => "", "data-slug" => "panel3"}
          %h3 ACCESSORIES
          %table
            %tr
              %th
              %th model
              %th description
              %th certified
            %tr
              %td
                = image_tag("fz-a1/accessories/cf-lnddc24.jpg")
              %td
                %b CF-LNDDC24
              %td
                %p
                  LIND car charger  
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("fz-a1/accessories/cf-lndlpt.jpg")
              %td
                %b CF-LNDLPT
              %td
                %p
                  LIND low-profile shut-down timer 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td
            %tr
              %td
                = image_tag("fz-a1/accessories/ds-da-218-p.jpg")
              %td
                %b DS-DA-218-P
              %td
                %p
                  Desktop stand 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td
            %tr
              %td
                = image_tag("fz-a1/accessories/ds-pan-501-p.jpg")
              %td
                %b DS-PAN-501-P
              %td
                %p
                  Cradle with (2) USB, (1) Ethernet, (1) Power Port 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td
            %tr
              %td
                = image_tag("fz-a1/accessories/ds-pan-502-p.jpg")
              %td
                %b DS-PAN-502-P
              %td
                %p
                  Cradle with (2) USB, (1) Ethernet, (1) Power Port, (1) AC adapter (1) 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td
            %tr
              %td
                = image_tag("fz-a1/accessories/ds-pan-503.jpg")
              %td
                %b DS-PAN-503
              %td
                %p
                  Cradle only - No charging or communication 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td
            %tr
              %td
                = image_tag("fz-a1/accessories/fz-a1-bcr-msr.jpg")
              %td
                %b FZ-A1-BCR-MSR
              %td
                %p
                  2D barcode reader attachment with magnetic stripe reader for FZ-A1 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("fz-a1/accessories/pz420s.jpg")
              %td
                %b PZ420S
              %td
                %p
                  Zebra 4" rugged printer RW 420 with mag stripe reader. Additional Bluetooth® option recommended. 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("fz-a1/accessories/pz420smc.jpg")
              %td
                %b PZ420SMC
              %td
                %p
                  Zebra 4" rugged printer RW 420 with mag stripe reader. Includes a belt clip. Additional Bluetooth® option recommended. 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("fz-a1/accessories/tbca1aonl-p.jpg")
              %td
                %b TBCA1AONL-P
              %td
                %p
                  Toughmate always-on case with easel. 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("fz-a1/accessories/tbca1hdstp-p.jpg")
              %td
                %b TBCA1HDSTP-P
              %td
                %p
                  Toughmate A1 rotating hand strap with shoulder strap. 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("fz-a1/accessories/tbca1pflio-blk-p.jpg")
              %td
                %b TBCA1PFLIO-BLK-P
              %td
                %p
                  Toughmate A1 professional portfolio. 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("fz-a1/accessories/tbca1slvnp-p.jpg")
              %td
                %b TBCA1SLVNP-P
              %td
                %p
                  Toughmate A1 neoprene sleeve. 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("fz-a1/accessories/tbca1xscan-p.jpg")
              %td
                %b TBCA1XSCAN-P
              %td
                %p
                  Toughmate A1 X-Strap and shoulder strap (FZ-A1-BCR-MSR and FZ-A1-BCR compatible). 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("fz-a1/accessories/tbca1xstp-p.jpg")
              %td
                %b TBCA1XSTP-P
              %td
                %p
                  Toughmate A1 X-Strap and shoulder strap. 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
            %tr
              %td
                = image_tag("fz-a1/accessories/tbcmagrd-p.jpg")
              %td
                %b TBCMAGRD-P
              %td
                %p
                  Toughmate MSR pouch for MagTek Bullet. 
                  %br
                  %b
                    %a{href: "http://www.panasonic.com/business-solutions/how-to-buy-panasonic.asp"}
                      How to Buy
                      = image_tag("31/specs/arrow-blue.gif")
              %td  
      %section
        %p.title{"data-section-title" => ""}
          %a{href: "#panel5"} Resources
        .content{"data-section-content" => "", "data-slug" => "panel5"}
          %h3 SPECS
          %p
            %a{href: "/assets/FZ-A1/resources/Toughpad-BiFold-Brochure.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Brochure
            %br
            %a{href: "/assets/FZ-A1/resources/Panasonic-Toughpad-A1-Spec-Sheet.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Spec Sheet
            %br
            %a{href: "/assets/FZ-A1/resources/Toughpad-FZ-A1-Operating-Instructions.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Operating Instructions
            %br
            %a{href: "/assets/FZ-A1/resources/Toughpad-Industry-Slick.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Toughpad Industry Slick
            %br
            %a{href: "/assets/FZ-A1/resources/Toughpad-Tablet-Solutions-Brochure.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Toughpad Tablet Solutions Brochure
            %br
            %a{href: "/assets/FZ-A1/resources/Panasonic_TabletAccessories.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Toughpad FZ-A1 Accessories
#imageGallery.reveal-modal
  .slideshow-wrapper
    %ul{"class-" => "", "data-orbit" => ""}
      %li{"data-orbit-slide" => "headline-1"}
        %a{href: "#"}
          = image_tag("FZ-A1/image_gallery/standard/ToughPad_A1_1-250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-A1/image_gallery/high_res/ToughPad_A1_1-250.jpg"} high res image
          [jpg, 6.8mb]
      %li{"data-orbit-slide" => "headline-2"}
        %a{href: "#"}
          = image_tag("FZ-A1/image_gallery/standard/ToughPad_A1_2-250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-A1/image_gallery/high_res/ToughPad_A1_2-250.jpg"} high res image
          [jpg, 6mb]
      %li{"data-orbit-slide" => "headline-3"}
        %a{href: "#"}
          = image_tag("FZ-A1/image_gallery/standard/ToughPad_A1_3-250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-A1/image_gallery/high_res/ToughPad_A1_3-250.jpg"} high res image
          [jpg, 6.9mb]
      %li{"data-orbit-slide" => "headline-4"}
        %a{href: "#"}
          = image_tag("FZ-A1/image_gallery/standard/ToughPad_A1_4-250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-A1/image_gallery/high_res/ToughPad_A1_4-250.jpg"} high res image
          [jpg, 5.1mb]
      %li{"data-orbit-slide" => "headline-5"}
        %a{href: "#"}
          = image_tag("FZ-A1/image_gallery/standard/ToughPad_A1_5-250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-A1/image_gallery/high_res/ToughPad_A1_5-250.jpg"} high res image
          [jpg, 9.8mb]
      %li{"data-orbit-slide" => "headline-6"}
        %a{href: "#"}
          = image_tag("FZ-A1/image_gallery/standard/ToughPad_A1_6-250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-A1/image_gallery/high_res/ToughPad_A1_6-250.jpg"} high res image
          [jpg, 3.7mb]
      %li{"data-orbit-slide" => "headline-7"}
        %a{href: "#"}
          = image_tag("FZ-A1/image_gallery/standard/ToughPad_A1_7-250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-A1/image_gallery/high_res/ToughPad_A1_7-250.jpg"} high res image
          [jpg, 6.2mb]
      %li{"data-orbit-slide" => "headline-8"}
        %a{href: "#"}
          = image_tag("FZ-A1/image_gallery/standard/ToughPad_A1_8-250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-A1/image_gallery/high_res/ToughPad_A1_8-250.jpg"} high res image
          [jpg, 6.3mb]
      %li{"data-orbit-slide" => "headline-9"}
        %a{href: "#"}
          = image_tag("FZ-A1/image_gallery/standard/ToughPad_A1_9-250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-A1/image_gallery/high_res/ToughPad_A1_9-250.jpg"} high res image
          [jpg, 10.2mb]
      %li{"data-orbit-slide" => "headline-10"}
        %a{href: "#"}
          = image_tag("FZ-A1/image_gallery/standard/ToughPad_A1_10-250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-A1/image_gallery/high_res/ToughPad_A1_10-250.jpg"} high res image
          [jpg, 9.7mb]
      %li{"data-orbit-slide" => "headline-11"}
        %a{href: "#"}
          = image_tag("FZ-A1/image_gallery/standard/ToughPad_A1_11-250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-A1/image_gallery/high_res/ToughPad_A1_11-250.jpg"} high res image
          [jpg, 12.2mb]
  .slideshow_arrows
    .arrow_left
      %a{href: "#"}
        = image_tag("FZ-A1/image_gallery/carousel-arrow-left-over.gif")
    .arrow_right
      %a{href: "#"}
        = image_tag("FZ-A1/image_gallery/carousel-arrow-right-over.gif")
  .slideshow_nav_container
    %ul.slideshow_nav
      %li.active{"data-orbit-link" => "headline-1"}
        %a{href: "#"}
          = image_tag("FZ-A1/image_gallery/thumbs/ToughPad_A1_1-250.jpg")
      %li{"data-orbit-link" => "headline-2"}
        %a{href: "#"}
          = image_tag("FZ-A1/image_gallery/thumbs/ToughPad_A1_2-250.jpg")
      %li{"data-orbit-link" => "headline-3"}
        %a{href: "#"}
          = image_tag("FZ-A1/image_gallery/thumbs/ToughPad_A1_3-250.jpg")
      %li{"data-orbit-link" => "headline-4"}
        %a{href: "#"}
          = image_tag("FZ-A1/image_gallery/thumbs/ToughPad_A1_4-250.jpg")
      %li{"data-orbit-link" => "headline-5"}
        %a{href: "#"}
          = image_tag("FZ-A1/image_gallery/thumbs/ToughPad_A1_5-250.jpg")
      %li{"data-orbit-link" => "headline-6"}
        %a{href: "#"}
          = image_tag("FZ-A1/image_gallery/thumbs/ToughPad_A1_6-250.jpg")
      %li{"data-orbit-link" => "headline-7"}
        %a{href: "#"}
          = image_tag("FZ-A1/image_gallery/thumbs/ToughPad_A1_7-250.jpg")
      %li{"data-orbit-link" => "headline-8"}
        %a{href: "#"}
          = image_tag("FZ-A1/image_gallery/thumbs/ToughPad_A1_8-250.jpg")
      %li{"data-orbit-link" => "headline-9"}
        %a{href: "#"}
          = image_tag("FZ-A1/image_gallery/thumbs/ToughPad_A1_9-250.jpg")
      %li{"data-orbit-link" => "headline-10"}
        %a{href: "#"}
          = image_tag("FZ-A1/image_gallery/thumbs/ToughPad_A1_10-250.jpg")
      %li{"data-orbit-link" => "headline-11"}
        %a{href: "#"}
          = image_tag("FZ-A1/image_gallery/thumbs/ToughPad_A1_11-250.jpg")
  %a.close-reveal-modal ×

:javascript
  $(document).foundation('topbar');
  $(document).foundation('section', {
    deep_linking: true
  });
  $(document).foundation('reveal', {
    animation: 'fade',
    dismissModalClass: 'close-reveal-modal'
  });
  $(document).foundation('orbit', {
    animation: 'fade',
    slide_number: false,
    timer: false,
    bullets: false,
    ready: function(){
      console.log( initialSlideState );
    },
    after_slide_change: function(slideNum){
        $("ul.slideshow_nav li").removeClass('active');
        navItem = $("ul.slideshow_nav li[data-orbit-link=headline-"+(slideNum+1)+"]");
        navItem.addClass('active');
        
        navContainer = $(".slideshow_nav_container");
        navContWidth = navContainer.width();
        nav = $("ul.slideshow_nav");
        leftSide = parseInt(navItem.offset().left) - parseInt(navContainer.offset().left);
        centered = (((parseInt(leftSide) + (parseInt(navItem.width()) / 2)) - ( parseInt(navContWidth) / 2 )) * -1) + parseInt(nav.css('left'));
        
        if( centered > 0 )
          centered = 0;
        
        rightBound = ((nav.width() - navContWidth) * -1);
        if( centered < rightBound )
          centered = rightBound;

        nav.animate({left: centered}, 250);
      }
  });

  $(".slideshow_arrows .arrow_right").on("click", function(){
    slideNavCar('right');
  });
  $(".slideshow_arrows .arrow_left").on("click", function(){
    slideNavCar('left');
  });

  function slideNavCar(direction){
    nav = $("ul.slideshow_nav");
    navContainer = $(".slideshow_nav_container");
    navContWidth = navContainer.width();

    if( direction == 'right' )
      centered = parseInt(nav.css('left')) - navContWidth;
    else
      centered = parseInt(nav.css('left')) + navContWidth;
    
    if( centered > 0 )
      centered = 0;
    
    rightBound = ((nav.width() - navContWidth) * -1);
    if( centered < rightBound )
      centered = rightBound;

    nav.animate({left: centered}, 250);
  }























