.row
  .small-12.columns
.row
  .small-12.columns
    .row
      .small-5.columns
        .slideshow-trigger
          = image_tag("FZ-G1/fz-g1aabaxlm.jpg")
          %p.thumbnail_triggers
            %a{"data-orbit-link" => "headline-1", "data-reveal-id" => "imageGallery", href: "#"}
              = image_tag("FZ-G1/G1_1_60.jpg")
            %a{"data-orbit-link" => "headline-2", "data-reveal-id" => "imageGallery", href: "#"}
              = image_tag("FZ-G1/G1_2_60.jpg")
            %a{"data-orbit-link" => "headline-3", "data-reveal-id" => "imageGallery", href: "#"}
              = image_tag("FZ-G1/G1_3_60.jpg")
            %a{"data-orbit-link" => "headline-4", "data-reveal-id" => "imageGallery", href: "#"}
              = image_tag("FZ-G1/G1_4_60.jpg")
          %p
            %a{"data-reveal-id" => "imageGallery", href: "#"}
              VIEW GALLERY
              = image_tag("31/specs/arrow-blue.gif")
      .small-7.columns
        .product-info
          %h2 Toughpad FZ-G1
          %p.prod_info The world's thinnest and lightest fully-rugged 10.1" Windows® 8 tablet. The Panasonic Toughpad™ FZ-G1 supports 10-point multi touch and a digitizer for maximum flexibility. The incredibly bright and sharp 800 nit IPS display with direct bonding has almost 180° viewing angles. Its tough fully-rugged design is MIL-STD-810G & IP65 certified to offer protection against up to 4 foot drops and extreme conditions. Available with Windows 7 or Windows 8 Pro.
          %p.left
            %a{href: "http://www.panasonic.com/business-solutions/buy-toughbook-computers-laptops-tablets.asp"}
              = image_tag("31/btn-how-to-buy.gif")
          %p.right.intel
            %a{href: "http://www.intel.com/content/www/us/en/processors/core/2nd-gen-core-overview-video.html"}
              = image_tag("31/intel_i5.gif")
.row
  .small-12.columns
    .section-container.auto{"data-section" => ""}
      %section.active
        %p.title{"data-section-title" => ""}
          %a{href: "#panel1"} Overview
        .content{"data-section-content" => "", "data-slug" => "panel1"}
          %h3 OVERVIEW
          %p
            The Toughpad FZ-G1 Windows 8 tablet offers a fluid user experience while providing crucial port connectivity and feature rich options in a compact size. Designed for highly mobile field workers, it’s the thinnest and lightest fully-rugged 10.1" tablet running Windows 8. Powered by a 3rd generation Intel® Core™ i5 vPro™ Processor with a MIL-STD-810G and IP65 certified design, the Toughpad FZ-G1 leads the way in rugged mobile computing. Add to that a daylight-readable 10-point multi touch + digitizer screen, and it becomes an essential tool for field workers.
          %p
            %a{href: "http://panasonic.net/avc/pc/spc/"}
              = image_tag("31/overview/microsoft-windows-8-certified.gif")
          %p.footnote
            %i Intel, the Intel logo, Intel Core, Intel vPro, Core Inside and vPro Inside are trademarks of Intel Corporation in the U.S. and/or other countries
      %section
        %p.title{"data-section-title" => ""}
          %a{href: "#panel2"} Specs
        .content{"data-section-content" => "", "data-slug" => "panel2"}
          %h3 SPECS
          %p
            %a{href: "/assets/FZ-G1/specs/Panasonic-Toughpad-B1-Spec-Sheet.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Toughpad FZ-G1 Spec Sheet
          %p
            See which ToughPad model is right for you. View the
            %a{href: "/assets/FZ-G1/specs/TP_Comparision_Chart.pdf"}
              product comparison chart
              = image_tag("31/specs/arrow-blue.gif")
          %h3 CERTIFICATIONS
          %p
            %b MIL-STD Certifications: MIL-STD-810G
          = image_tag("31/specs/certification-mil-std-810g.gif", style: "float: left; padding-right: 10px;")
          %p
            Fully-rugged Panasonic computers are the first computers to be MIL-STD-810G certified for a range of extreme conditions including 72" drops
            %sup> 1
            , shocks, vibration, humidity, altitude, rain-, dust- and sand-resistance, temperature extremes and thermal shock. Each of the twenty MIL-STD-810G tests conducted have been certified by independent lab testing. MIL-STD-810G, which was created in October 2008, supersedes MIL-STD-810F.
          %p
            %b
              %a{href: "/assets/31/specs/CF-31_MIL-STD-810G.pdf"}
                DOWNLOAD MIL-STD-810G REPORT
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b Ingress Protection (IP65)
          = image_tag("31/specs/certification-ip65.gif", style: "float: left; padding-right: 10px;")
          %p Fully-rugged Toughbook® mobile computers are IP65 certified1 according to the IP code defined in the international standard IEC 60529.
          %p The products are tested and certified by an independent test lab facility located in the United States. Rather than vaguely describing equipment as "waterproof" or "dustproof", the IP Code uniformly quantifies various levels of resistance to liquids, particulates and solid objects. The numbers following the letters "IP" represent the specific degree of protection provided by electrical enclosures. The first digit (6) indicates the ingress of dust at a level that will not have a harmful effect on the operation of the unit. The second digit (5) indicates that water sprayed from all directions will not compromise the computer's functioning. Higher numbers indicate a higher tolerance to dust and water. For example, a unit with an IP65 rating will withstand both elements better than a unit with an IP54 rating. While IP65-certified Toughbook computers are not completely impervious to the ingress of water or dust, the rating does indicate neither element will cause operational complications while used under conditions commonly encountered by Toughbook mobile computers.
          %p
            %b
              %a{href: "/assets/31/specs/Panasonic_IP65_Test_Report_June_2009.pdf"}
                DOWNLOAD IP65 REPORT
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b ISO Certification
          = image_tag("31/specs/certification-iso.gif", style: "float: left; padding-right: 10px;")
          %p Since 1996, all Panasonic manufacturing plants worldwide—including the factory in Kobe, Japan—have achieved ISO 14001 registration and implemented the ISO 14001 Environmental Management System. The Kobe factory has also been certified for ISO 9001, an international standard for quality management systems that enhance product quality assurance and customer satisfaction.
          %p International Organization for Standardization (ISO) is an international federation promoting the development of international manufacturing, trade, and communication standards. ISO 14000, a series of standards, provides the framework for managing the environmental impacts of an organization.
          %p The ISO 14001 international standard established a systematic approach that organizations can use to minimize or prevent environmental impacts and risks. This approach, known as an Environmental Management System or EMS, requires the organization to establish an environmental control policy, educate employees about procedures and continually monitor environmental performance.
          %p
            %b
              %a{href: "http://www.iso.org/iso/home.html"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b RoHS Compliance
          = image_tag("31/specs/certification-rohs.gif", style: "float: left; padding-right: 10px;")
          %p For manufacturers of electronic equipment, the main impact of RoHS is that only lead-free products can be sold in Europe. Panasonic has therefore shifted to lead-free solder. By selling RoHS-compliant products in all countries, not just Europe, Panasonic helps eliminate hazardous electronic waste materials from landfills and waste dumps around the world.
          %p
            %b
              %a{href: "http://www.informinc.org/improhs.pdf"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
          %p
            %b Section 508 Standards
          = image_tag("31/specs/certification-section-508.gif", style: "float: left; padding-right: 10px;")
          %p Section 508 was enacted to eliminate barriers in information technology, to make available new opportunities for people with disabilities, and to encourage development of technologies that will help achieve these goals. Electronic and information technology procured by Federal agencies must meet Section 508's requirements for accessibility.
          %p IToughbook® mobile computers have long been designed and manufactured with access-friendly features, such as touchscreens and the ability to be mounted on wheelchairs. In addition, Panasonic works closely with Microsoft to ensure that Toughbook computers can take full advantage of the accessibility features built into Windows®. Panasonic continually endeavors to make all its products more accessible to, and usable by, individuals with disabilities. In fact, Panasonic worked with ITIC (Information Technology Industry Council) in developing the Section 508 "Buy Accessible" template, and also actively participates in the GSA (General Services Administration) sponsored Accessibility Forum.
          %p
            %b
              %a{href: "Panasonic_508_Statement.pdf"}
                READ MORE
                = image_tag("31/specs/arrow-blue.gif")
          %p.footnote
            %sup 1
            Tested by national independent third party lab following MIL-STD-810G Method 516.6 Procedure IV for transit drop test and IEC 60529 Sections 13.4, 13.6.2, 14.2.5 and 14.3 for IP65.
      %section
        %p.title{"data-section-title" => ""}
          %a{href: "#panel5"} Resources
        .content{"data-section-content" => "", "data-slug" => "panel5"}
          %h3 SPECS
          %p
            %a{href: "/assets/FZ-G1/resources/Panasonic-Toughpad-G1-Spec-Sheet.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Spec Sheet
            %br
            %a{href: "/assets/FZ-G1/resources/G1mk1_Operating_Instructions.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Operating Instructions
            %br
            %a{href: "/assets/FZ-G1/resources/TP_Comparision_Chart_F.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Comparison Chart
            %br
            %a{href: "/assets/FZ-G1/resources/FedGov_AirForce_FZ-G1_Flyer.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Toughpad FZ-G1 Air Force Benefits
            %br
            %a{href: "/assets/FZ-G1/resources/FedGov_Army_FZ-G1_Flyer.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Toughpad FZ-G1 Army Benefits
            %br
            %a{href: "/assets/FZ-G1/resources/USMC-Navy_FZ-G1_Flyer.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Toughpad FZ-G1 Navy Benefits
#imageGallery.reveal-modal
  .slideshow-wrapper
    %ul{"class-" => "", "data-orbit" => ""}
      %li{"data-orbit-slide" => "headline-1"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/standard/G1_1_250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-G1/image_gallery/high_res/G1_1.jpg"} high res image
          [jpg, 6.8mb]
      %li{"data-orbit-slide" => "headline-2"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/standard/G1_2_250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-G1/image_gallery/high_res/G1_2.jpg"} high res image
          [jpg, 6mb]
      %li{"data-orbit-slide" => "headline-3"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/standard/G1_3_250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-G1/image_gallery/high_res/G1_3.jpg"} high res image
          [jpg, 6.9mb]
      %li{"data-orbit-slide" => "headline-4"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/standard/G1_4_250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-G1/image_gallery/high_res/G1_4.jpg"} high res image
          [jpg, 5.1mb]
      %li{"data-orbit-slide" => "headline-5"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/standard/G1_5_250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-G1/image_gallery/high_res/G1_5.jpg"} high res image
          [jpg, 9.8mb]
      %li{"data-orbit-slide" => "headline-6"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/standard/G1_6_250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-G1/image_gallery/high_res/G1_6.jpg"} high res image
          [jpg, 3.7mb]
      %li{"data-orbit-slide" => "headline-7"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/standard/G1_7_250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-G1/image_gallery/high_res/G1_7.jpg"} high res image
          [jpg, 6.2mb]
      %li{"data-orbit-slide" => "headline-8"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/standard/G1_8_250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-G1/image_gallery/high_res/G1_8.jpg"} high res image
          [jpg, 6.3mb]
      %li{"data-orbit-slide" => "headline-9"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/standard/G1_9_250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-G1/image_gallery/high_res/G1_9.jpg"} high res image
          [jpg, 10.2mb]
      %li{"data-orbit-slide" => "headline-10"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/standard/G1_10_250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-G1/image_gallery/high_res/G1_10.jpg"} high res image
          [jpg, 9.7mb]
      %li{"data-orbit-slide" => "headline-11"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/standard/G1_11_250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-G1/image_gallery/high_res/G1_11.jpg"} high res image
          [jpg, 12.2mb]
      %li{"data-orbit-slide" => "headline-12"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/standard/G1_12_250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-G1/image_gallery/high_res/G1_12.jpg"} high res image
          [jpg, 12.2mb]
      %li{"data-orbit-slide" => "headline-13"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/standard/G1_13_250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-G1/image_gallery/high_res/G1_13.jpg"} high res image
          [jpg, 12.2mb]
      %li{"data-orbit-slide" => "headline-14"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/standard/G1_14_250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-G1/image_gallery/high_res/G1_14.jpg"} high res image
          [jpg, 12.2mb]
      %li{"data-orbit-slide" => "headline-15"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/standard/G1_15_250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-G1/image_gallery/high_res/G1_15.jpg"} high res image
          [jpg, 12.2mb]
      %li{"data-orbit-slide" => "headline-16"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/standard/G1_16_250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-G1/image_gallery/high_res/G1_16.jpg"} high res image
          [jpg, 12.2mb]
      %li{"data-orbit-slide" => "headline-17"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/standard/G1_17_250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-G1/image_gallery/high_res/G1_17.jpg"} high res image
          [jpg, 12.2mb]
      %li{"data-orbit-slide" => "headline-18"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/standard/G1_18_250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-G1/image_gallery/high_res/G1_18.jpg"} high res image
          [jpg, 12.2mb]
      %li{"data-orbit-slide" => "headline-19"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/standard/G1_19_250.jpg")
        .orbit-caption
          %a{href: "/assets/FZ-G1/image_gallery/high_res/G1_19.jpg"} high res image
          [jpg, 12.2mb]
  .slideshow_arrows
    .arrow_left
      %a{href: "#"}
        = image_tag("FZ-G1/image_gallery/carousel-arrow-left-over.gif")
    .arrow_right
      %a{href: "#"}
        = image_tag("FZ-G1/image_gallery/carousel-arrow-right-over.gif")
  .slideshow_nav_container
    %ul.slideshow_nav
      %li.active{"data-orbit-link" => "headline-1"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/thumbs/G1_1_250.jpg")
      %li{"data-orbit-link" => "headline-2"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/thumbs/G1_2_250.jpg")
      %li{"data-orbit-link" => "headline-3"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/thumbs/G1_3_250.jpg")
      %li{"data-orbit-link" => "headline-4"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/thumbs/G1_4_250.jpg")
      %li{"data-orbit-link" => "headline-5"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/thumbs/G1_5_250.jpg")
      %li{"data-orbit-link" => "headline-6"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/thumbs/G1_6_250.jpg")
      %li{"data-orbit-link" => "headline-7"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/thumbs/G1_7_250.jpg")
      %li{"data-orbit-link" => "headline-8"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/thumbs/G1_8_250.jpg")
      %li{"data-orbit-link" => "headline-9"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/thumbs/G1_9_250.jpg")
      %li{"data-orbit-link" => "headline-10"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/thumbs/G1_10_250.jpg")
      %li{"data-orbit-link" => "headline-11"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/thumbs/G1_11_250.jpg")
      %li{"data-orbit-link" => "headline-12"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/thumbs/G1_12_250.jpg")
      %li{"data-orbit-link" => "headline-13"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/thumbs/G1_13_250.jpg")
      %li{"data-orbit-link" => "headline-14"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/thumbs/G1_14_250.jpg")
      %li{"data-orbit-link" => "headline-15"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/thumbs/G1_15_250.jpg")
      %li{"data-orbit-link" => "headline-16"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/thumbs/G1_16_250.jpg")
      %li{"data-orbit-link" => "headline-17"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/thumbs/G1_17_250.jpg")
      %li{"data-orbit-link" => "headline-18"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/thumbs/G1_18_250.jpg")
      %li{"data-orbit-link" => "headline-19"}
        %a{href: "#"}
          = image_tag("FZ-G1/image_gallery/thumbs/G1_19_250.jpg")
  %a.close-reveal-modal ×

:javascript
  $(document).foundation('topbar');
  $(document).foundation('section', {
    deep_linking: true
  });
  $(document).foundation('reveal', {
    animation: 'fade',
    dismissModalClass: 'close-reveal-modal'
  });
  $(document).foundation('orbit', {
    animation: 'fade',
    slide_number: false,
    timer: false,
    bullets: false,
    ready: function(){
      console.log( initialSlideState );
    },
    after_slide_change: function(slideNum){
        $("ul.slideshow_nav li").removeClass('active');
        navItem = $("ul.slideshow_nav li[data-orbit-link=headline-"+(slideNum+1)+"]");
        navItem.addClass('active');
        
        navContainer = $(".slideshow_nav_container");
        navContWidth = navContainer.width();
        nav = $("ul.slideshow_nav");
        leftSide = parseInt(navItem.offset().left) - parseInt(navContainer.offset().left);
        centered = (((parseInt(leftSide) + (parseInt(navItem.width()) / 2)) - ( parseInt(navContWidth) / 2 )) * -1) + parseInt(nav.css('left'));
        
        if( centered > 0 )
          centered = 0;
        
        rightBound = ((nav.width() - navContWidth) * -1);
        if( centered < rightBound )
          centered = rightBound;

        nav.animate({left: centered}, 250);
      }
  });

  $(".slideshow_arrows .arrow_right").on("click", function(){
    slideNavCar('right');
  });
  $(".slideshow_arrows .arrow_left").on("click", function(){
    slideNavCar('left');
  });

  function slideNavCar(direction){
    nav = $("ul.slideshow_nav");
    navContainer = $(".slideshow_nav_container");
    navContWidth = navContainer.width();

    if( direction == 'right' )
      centered = parseInt(nav.css('left')) - navContWidth;
    else
      centered = parseInt(nav.css('left')) + navContWidth;
    
    if( centered > 0 )
      centered = 0;
    
    rightBound = ((nav.width() - navContWidth) * -1);
    if( centered < rightBound )
      centered = rightBound;

    nav.animate({left: centered}, 250);
  }























