.row
  .small-12.columns
.row
  .small-12.columns
    .row
      .small-5.columns
        .slideshow-trigger
          = image_tag("JT-B1/jt-b1apaazam.jpg")
          %p.thumbnail_triggers
            %a{"data-orbit-link" => "headline-1", "data-reveal-id" => "imageGallery", href: "#"}
              = image_tag("JT-B1/ToughPad_B1_1-60.jpg")
            %a{"data-orbit-link" => "headline-2", "data-reveal-id" => "imageGallery", href: "#"}
              = image_tag("JT-B1/ToughPad_B1_2-60.jpg")
            %a{"data-orbit-link" => "headline-3", "data-reveal-id" => "imageGallery", href: "#"}
              = image_tag("JT-B1/ToughPad_B1_3-60.jpg")
            %a{"data-orbit-link" => "headline-4", "data-reveal-id" => "imageGallery", href: "#"}
              = image_tag("JT-B1/ToughPad_B1_4-60.jpg")
          %p
            %a{"data-reveal-id" => "imageGallery", href: "#"}
              VIEW GALLERY
              = image_tag("31/specs/arrow-blue.gif")
      .small-7.columns
        .product-info
          %h2 Toughpad JT-B1
          %p.prod_info The fully-rugged Toughpad™ JT-B1, with its 7" display, is ideal for one-handed use, fits in a coat or cargo pocket, and is the lightest of any Panasonic mobile computer. The The Toughpad JT-B1 is powered by Android™, and combines data and device security, seamless connectivity and enterprise-minded technology.
          %p.left
            %a{href: "http://www.panasonic.com/business-solutions/buy-toughbook-computers-laptops-tablets.asp"}
              = image_tag("31/btn-how-to-buy.gif")
.row
  .small-12.columns
    .section-container.auto{"data-section" => ""}
      %section.active
        %p.title{"data-section-title" => ""}
          %a{href: "#panel1"} Overview
        .content{"data-section-content" => "", "data-slug" => "panel1"}
          %h3 OVERVIEW
          %p
            %b The Toughpad JT-B1, powered by Android™, is the lightest Panasonic mobile computer on the market, and is ideal for one-handed use and small enough to fit in a coat or cargo pocket.
          %p
            %b Work Confidently, Anywhere
            %br
            The fully-rugged Toughpad JT-B1 tablet is MIL-STD-810G and IP65 certified and resistant to dust, water and up to 5ft. drops, so mobile users can work without restrictions even in extreme temperatures.
          %p
            %b Keep Your Mobile Data Secure
            %br
            Toughpad JT-B1 contains software security to keep your data safe, as well as individual security features.
          %p
            %b Protect and Manage Your Field Tablets
            %br
            Panasonic tablets are compatible with device controls for Mobile Device Management software, which allows the tablets to be managed and highly secured by a network administrator.
          %p
            %b Send and Receive Data in a Blink
            %br
            Available 4G LTE broadband delivers faster, more reliable speeds for better information delivery.
          %p
            %b The Support to Succeed
            %br
            An extensive group of dedicated partners is always there to provide you with everything you need, in terms of accessory hardware, software and services, to ensure a complete, worry-free and industry-specific workforce mobility solution.
      %section
        %p.title{"data-section-title" => ""}
          %a{href: "#panel2"} Specs
        .content{"data-section-content" => "", "data-slug" => "panel2"}
          %h3 SPECS
          %p
            %a{href: "/assets/JT-B1/specs/Panasonic-Toughpad-B1-Spec-Sheet.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Toughpad JT-B1 Spec Sheet
      %section
        %p.title{"data-section-title" => ""}
          %a{href: "#panel5"} Resources
        .content{"data-section-content" => "", "data-slug" => "panel5"}
          %h3 SPECS
          %p
            %a{href: "/assets/JT-B1/resources/Toughpad-BiFold-Brochure.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Brochure
            %br
            %a{href: "/assets/JT-B1/resources/Panasonic-Toughpad-B1-Spec-Sheet.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Spec Sheet
            %br
            %a{href: "/assets/JT-B1/resources/Toughpad-Industry-Slick.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Toughpad Industry Slick
            %br
            %a{href: "/assets/JT-B1/resources/Toughpad-Tablet-Solutions-Brochure.pdf"}
              = image_tag("31/specs/icon-pdf.gif")
              Toughpad Tablet Solutions Brochure
#imageGallery.reveal-modal
  .slideshow-wrapper
    %ul{"class-" => "", "data-orbit" => ""}
      %li{"data-orbit-slide" => "headline-1"}
        %a{href: "#"}
          = image_tag("JT-B1/image_gallery/standard/ToughPad_B1_1-250.jpg")
        .orbit-caption
          %a{href: "/assets/JT-B1/image_gallery/high_res/ToughPad_B1_1-250.jpg"} high res image
          [jpg, 6.8mb]
      %li{"data-orbit-slide" => "headline-2"}
        %a{href: "#"}
          = image_tag("JT-B1/image_gallery/standard/ToughPad_B1_2-250.jpg")
        .orbit-caption
          %a{href: "/assets/JT-B1/image_gallery/high_res/ToughPad_B1_2-250.jpg"} high res image
          [jpg, 6mb]
      %li{"data-orbit-slide" => "headline-3"}
        %a{href: "#"}
          = image_tag("JT-B1/image_gallery/standard/ToughPad_B1_3-250.jpg")
        .orbit-caption
          %a{href: "/assets/JT-B1/image_gallery/high_res/ToughPad_B1_3-250.jpg"} high res image
          [jpg, 6.9mb]
      %li{"data-orbit-slide" => "headline-4"}
        %a{href: "#"}
          = image_tag("JT-B1/image_gallery/standard/ToughPad_B1_4-250.jpg")
        .orbit-caption
          %a{href: "/assets/JT-B1/image_gallery/high_res/ToughPad_B1_4-250.jpg"} high res image
          [jpg, 5.1mb]
      %li{"data-orbit-slide" => "headline-5"}
        %a{href: "#"}
          = image_tag("JT-B1/image_gallery/standard/ToughPad_B1_5-250.jpg")
        .orbit-caption
          %a{href: "/assets/JT-B1/image_gallery/high_res/ToughPad_B1_5-250.jpg"} high res image
          [jpg, 9.8mb]
      %li{"data-orbit-slide" => "headline-6"}
        %a{href: "#"}
          = image_tag("JT-B1/image_gallery/standard/ToughPad_B1_6-250.jpg")
        .orbit-caption
          %a{href: "/assets/JT-B1/image_gallery/high_res/ToughPad_B1_6-250.jpg"} high res image
          [jpg, 3.7mb]
      %li{"data-orbit-slide" => "headline-7"}
        %a{href: "#"}
          = image_tag("JT-B1/image_gallery/standard/ToughPad_B1_7-250.jpg")
        .orbit-caption
          %a{href: "/assets/JT-B1/image_gallery/high_res/ToughPad_B1_7-250.jpg"} high res image
          [jpg, 6.2mb]
      %li{"data-orbit-slide" => "headline-8"}
        %a{href: "#"}
          = image_tag("JT-B1/image_gallery/standard/ToughPad_B1_8-250.jpg")
        .orbit-caption
          %a{href: "/assets/JT-B1/image_gallery/high_res/ToughPad_B1_8-250.jpg"} high res image
          [jpg, 6.3mb]
      %li{"data-orbit-slide" => "headline-9"}
        %a{href: "#"}
          = image_tag("JT-B1/image_gallery/standard/ToughPad_B1_9-250.jpg")
        .orbit-caption
          %a{href: "/assets/JT-B1/image_gallery/high_res/ToughPad_B1_9-250.jpg"} high res image
          [jpg, 10.2mb]
      %li{"data-orbit-slide" => "headline-10"}
        %a{href: "#"}
          = image_tag("JT-B1/image_gallery/standard/ToughPad_B1_10-250.jpg")
        .orbit-caption
          %a{href: "/assets/JT-B1/image_gallery/high_res/ToughPad_B1_10-250.jpg"} high res image
          [jpg, 9.7mb]
      %li{"data-orbit-slide" => "headline-11"}
        %a{href: "#"}
          = image_tag("JT-B1/image_gallery/standard/ToughPad_B1_11-250.jpg")
        .orbit-caption
          %a{href: "/assets/JT-B1/image_gallery/high_res/ToughPad_B1_11-250.jpg"} high res image
          [jpg, 12.2mb]
  .slideshow_arrows
    .arrow_left
      %a{href: "#"}
        = image_tag("JT-B1/image_gallery/carousel-arrow-left-over.gif")
    .arrow_right
      %a{href: "#"}
        = image_tag("JT-B1/image_gallery/carousel-arrow-right-over.gif")
  .slideshow_nav_container
    %ul.slideshow_nav
      %li.active{"data-orbit-link" => "headline-1"}
        %a{href: "#"}
          = image_tag("JT-B1/image_gallery/thumbs/ToughPad_B1_1-250.jpg")
      %li{"data-orbit-link" => "headline-2"}
        %a{href: "#"}
          = image_tag("JT-B1/image_gallery/thumbs/ToughPad_B1_2-250.jpg")
      %li{"data-orbit-link" => "headline-3"}
        %a{href: "#"}
          = image_tag("JT-B1/image_gallery/thumbs/ToughPad_B1_3-250.jpg")
      %li{"data-orbit-link" => "headline-4"}
        %a{href: "#"}
          = image_tag("JT-B1/image_gallery/thumbs/ToughPad_B1_4-250.jpg")
      %li{"data-orbit-link" => "headline-5"}
        %a{href: "#"}
          = image_tag("JT-B1/image_gallery/thumbs/ToughPad_B1_5-250.jpg")
      %li{"data-orbit-link" => "headline-6"}
        %a{href: "#"}
          = image_tag("JT-B1/image_gallery/thumbs/ToughPad_B1_6-250.jpg")
      %li{"data-orbit-link" => "headline-7"}
        %a{href: "#"}
          = image_tag("JT-B1/image_gallery/thumbs/ToughPad_B1_7-250.jpg")
      %li{"data-orbit-link" => "headline-8"}
        %a{href: "#"}
          = image_tag("JT-B1/image_gallery/thumbs/ToughPad_B1_8-250.jpg")
      %li{"data-orbit-link" => "headline-9"}
        %a{href: "#"}
          = image_tag("JT-B1/image_gallery/thumbs/ToughPad_B1_9-250.jpg")
      %li{"data-orbit-link" => "headline-10"}
        %a{href: "#"}
          = image_tag("JT-B1/image_gallery/thumbs/ToughPad_B1_10-250.jpg")
      %li{"data-orbit-link" => "headline-11"}
        %a{href: "#"}
          = image_tag("JT-B1/image_gallery/thumbs/ToughPad_B1_11-250.jpg")
  %a.close-reveal-modal ×

:javascript
  $(document).foundation('topbar');
  $(document).foundation('section', {
    deep_linking: true
  });
  $(document).foundation('reveal', {
    animation: 'fade',
    dismissModalClass: 'close-reveal-modal'
  });
  $(document).foundation('orbit', {
    animation: 'fade',
    slide_number: false,
    timer: false,
    bullets: false,
    ready: function(){
      console.log( initialSlideState );
    },
    after_slide_change: function(slideNum){
        $("ul.slideshow_nav li").removeClass('active');
        navItem = $("ul.slideshow_nav li[data-orbit-link=headline-"+(slideNum+1)+"]");
        navItem.addClass('active');
        
        navContainer = $(".slideshow_nav_container");
        navContWidth = navContainer.width();
        nav = $("ul.slideshow_nav");
        leftSide = parseInt(navItem.offset().left) - parseInt(navContainer.offset().left);
        centered = (((parseInt(leftSide) + (parseInt(navItem.width()) / 2)) - ( parseInt(navContWidth) / 2 )) * -1) + parseInt(nav.css('left'));
        
        if( centered > 0 )
          centered = 0;
        
        rightBound = ((nav.width() - navContWidth) * -1);
        if( centered < rightBound )
          centered = rightBound;

        nav.animate({left: centered}, 250);
      }
  });

  $(".slideshow_arrows .arrow_right").on("click", function(){
    slideNavCar('right');
  });
  $(".slideshow_arrows .arrow_left").on("click", function(){
    slideNavCar('left');
  });

  function slideNavCar(direction){
    nav = $("ul.slideshow_nav");
    navContainer = $(".slideshow_nav_container");
    navContWidth = navContainer.width();

    if( direction == 'right' )
      centered = parseInt(nav.css('left')) - navContWidth;
    else
      centered = parseInt(nav.css('left')) + navContWidth;
    
    if( centered > 0 )
      centered = 0;
    
    rightBound = ((nav.width() - navContWidth) * -1);
    if( centered < rightBound )
      centered = rightBound;

    nav.animate({left: centered}, 250);
  }























