!!!
%html
  %head
    %title Top Gun: Purchase Order
    /[if IE]
      %script{type: "text/javascript", src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  %body{ data: { controller: "#{controller_name}", action: "#{action_name}" } }
    .fixed
      %nav.top-bar
        .nav-containment
          %ul.title-area
            %li.name
              %a{href: "/"}
                = image_tag("solutionsfuse-logo.png")
          .top-bar-section
            %ul.right
              %li.has-dropdown
                %a{href: "#"} Products
                %ul.dropdown
                  %li
                    %a{href: "/products/31.html"} 31
                  %li
                    %a{href: "/products/52.html"} 52
                  %li
                    %a{href: "/products/53.html"} 53
                  %li
                    %a{href: "/products/#F9.html"} F9
                  %li
                    %a{href: "/products/SX2.html"} SX2
                  %li
                    %a{href: "/products/19.html"} 19
                  %li
                    %a{href: "/products/C2.html"} C2
                  %li
                    %a{href: "/products/H2.html"} H2
                  %li
                    %a{href: "/products/F2-A1.html"} F2-A1
                  %li
                    %a{href: "/products/JT-B1.html"} JT-B1
                  %li
                    %a{href: "/products/FZ-G1.html"} FZ-G1
              %li.has-dropdown
                %a{href: "#"} Case Studies
                %ul.dropdown
                  %li
                    %a{href: "/case-studies/harley.html"} Harley Davidson
                  %li
                    %a{href: "/case-studies/volvo.html"} Volvo of North America
                  %li
                    %a{href: "/case-studies/bates.html"} Bates County Memorial
                  %li
                    %a{href: "/case-studies/arbormetrics.html"} ArborMetrics Solutions, Inc.
                  %li
                    %a{href: "/case-studies/southern_maryland.html"} Southern Maryland Electric Cooperative
                  %li
                    %a{href: "/case-studies/bocaraton.html"} Boca Raton Police Services Department
                  %li
                    %a{href: "/case-studies/snapon.html"} Snap-on Diagnostic
              %li.phonenumber
                %span.calltext Call
                877-217-3703
    .container
      .row
        .small-12.columns
          .allcontent

            = yield

      %footer
        .row
          .small-12.columns
            .footer-container
              %p
                = image_tag("panasonic-arp.png")
              %p © 2013 Solutions Fuse | Toll Free 877-217-3703 | 5155 Financial Way Mason, OH 45040 USA